**Homework 2:**
Top university rankings

# topuniversities.com section
Strategy for www.topuniversities.com website:
1. Analysis of web traffic after sending GET request shows that basic informations can be retrived just by getting json file from website.
2. We created DataFrame, from json, which contains basic information and urls to details page of every university.
3. Next step was to analyse detail page structure to obtain as much information as we can. This step make use of BeautifulSoup library.
4. In order to get details of each university we iterated through url and nid attributes of basic DataFrame and downloaded detail page together with json file (containing more information)
5. After downloading detail page we extracted details using BeautifulSoup and create DF. We did that with every university concatenating created DF.
6. At the end we merged (joined) both basic and details DF together on url attribute.
7. Cleaning the data was done in required places.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import difflib

In [2]:
# Get basic ranking using the same api as website does. Link comes from analysing web traffic after GET request to topunieversities.com website
top_universities_url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508409283658'
r = requests.get(top_universities_url).json()

In [3]:
# Take only first 200 records and put them into DataFrame
top_unis = pd.DataFrame.from_dict(r['data'][:200])
top_unis = top_unis[['rank_display', 'title', 'score', 'cc', 'country', 
       'region', 'url', 'nid']]

In [4]:
details = pd.DataFrame()
for url, nid in zip(top_unis['url'].values, top_unis['nid'].values):
    #print(url)

    req = requests.get('https://www.topuniversities.com' + url)
    soup = BeautifulSoup(req.text, 'html.parser')
    req2 = requests.get('https://www.topuniversities.com/qs-profiles/classifications/' + nid).json()

    d = dict()
    d['url'] = url
    try:
        d['total faculty'] = int(soup.find("div", class_="total faculty").find("div", class_="number").string.strip().replace(",", ""))
        d['inter faculty'] = int(soup.find("div", class_="inter faculty").find("div", class_="number").string.strip().replace(",", ""))
        d['Number of students'] = int(soup.find("div", class_="total student").find("div", class_="number").string.strip().replace(",", ""))
        d['Postgraduate students [%]'] = int(soup.find("div", class_="total student").find("div", class_="post").span.string.strip().replace("%", ""))
        d['Undergraduate students [%]'] = int(soup.find("div", class_="total student").find("div", class_="grad").span.string.strip().replace("%", ""))
        d['Total international students'] = int(soup.find("div", class_="total inter").find("div", class_="number").string.strip().replace(",", ""))
        d['Postgraduate international students [%]'] = int(soup.find("div", class_="total inter").find("div", class_="post").span.string.strip().replace("%", ""))
        d['Undergraduate international students [%]'] = int(soup.find("div", class_="total inter").find("div", class_="grad").span.string.strip().replace("%", ""))

        #for s in soup.find("ul", class_="score").strings:
        #    print(s)

        #soup.find("div", id="wurc").find("ul", class_="score")

        score_type = [elem.string.strip() for elem in soup.find("ul", class_="score").find_all("div", class_="criteria")]
        score_value = [float(elem.string) for elem in soup.find("ul", class_="score").find_all("div", class_="text")]
        lis = list(zip(score_type, score_value))

        d.update(dict((type_, value_) for type_, value_ in lis))
        d.update(req2['classifications'])
        #temp = soup.find("ul", id = "uni-info").find_all("h4")

        #d['Age'] = temp[1].span.string
        #d['Status'] = temp[2].span.string
        #d['Research'] = temp[3].span.string
        #d['Focus'] = temp[4].span.string
        #for element in temp:
        #   d[element.contents[0].strip()] = element.span.string.strip()
    except:
        pass
    details = pd.concat([details, pd.DataFrame.from_dict([d])], ignore_index=True)
    
details.head()

,Academic Reputation,Citations per Faculty,Employer Reputation,Faculty Student,International Faculty,International Students,Number of students,Overall Score,Postgraduate international students [%],Postgraduate students [%],...,Undergraduate international students [%],Undergraduate students [%],age_value,data_status_value,inter faculty,research_intensity_value,size_value,subject_range_value,total faculty,url
0,100.0,99.9,100.0,100.0,100.0,96.1,11067.0,100.0,83.0,60.0,...,17.0,40.0,5,B,1679.0,VH,M,CO,2982.0,/universities/massachusetts-institute-technolo...
1,100.0,99.4,100.0,100.0,99.6,72.7,15878.0,98.7,83.0,56.0,...,17.0,44.0,5,B,2042.0,VH,L,FC,4285.0,/universities/stanford-university
2,100.0,99.9,100.0,98.3,96.5,75.2,22429.0,98.4,85.0,69.0,...,15.0,31.0,5,B,1311.0,VH,L,FC,4350.0,/universities/harvard-university
3,99.5,100.0,85.4,100.0,93.4,89.2,2255.0,97.7,87.0,56.0,...,13.0,44.0,5,B,350.0,VH,S,CO,953.0,/universities/california-institute-technology-...
4,100.0,78.3,100.0,100.0,97.4,97.7,18770.0,95.6,64.0,37.0,...,36.0,63.0,5,A,2278.0,VH,L,FC,5490.0,/universities/university-cambridge

In [19]:
# Merge of two DF on url column
Total = top_unis.merge(details, left_on='url', right_on='url', how='outer')
# Rename rank column and getting rid of "=" sign in rank column
Total.rename(columns={'rank_display': 'Rank TU'}, inplace=True)
Total['Rank TU'] = Total['Rank TU'].str.replace("=", "")
Total

,Rank TU,title,score,cc,country,region,url,nid,Academic Reputation,Citations per Faculty,...,Total international students,Undergraduate international students [%],Undergraduate students [%],age_value,data_status_value,inter faculty,research_intensity_value,size_value,subject_range_value,total faculty
0,1,Massachusetts Institute of Technology (MIT),100,US,United States,North America,/universities/massachusetts-institute-technolo...,294850,100.0,99.9,...,3717.0,17.0,40.0,5,B,1679.0,VH,M,CO,2982.0
1,2,Stanford University,98.7,US,United States,North America,/universities/stanford-university,297282,100.0,99.4,...,3611.0,17.0,44.0,5,B,2042.0,VH,L,FC,4285.0
2,3,Harvard University,98.4,US,United States,North America,/universities/harvard-university,294270,100.0,99.9,...,5266.0,15.0,31.0,5,B,1311.0,VH,L,FC,4350.0
3,4,California Institute of Technology (Caltech),97.7,US,United States,North America,/universities/california-institute-technology-...,294562,99.5,100.0,...,647.0,13.0,44.0,5,B,350.0,VH,S,CO,953.0
4,5,University of Cambridge,95.6,GB,United Kingdom,Europe,/universities/university-cambridge,294561,100.0,78.3,...,6699.0,36.0,63.0,5,A,2278.0,VH,L,FC,5490.0
5,6,University of Oxford,95.3,GB,United Kingdom,Europe,/universities/university-oxford,294654,100.0,76.3,...,7353.0,26.0,56.0,5,A,2964.0,VH,L,FC,6750.0
6,7,UCL (University College London),94.6,GB,United Kingdom,Europe,/universities/ucl-university-college-london,294014,99.7,74.7,...,14854.0,45.0,52.0,5,A,2554.0,VH,XL,FC,6345.0
7,8,Imperial College London,93.7,GB,United Kingdom,Europe,/universities/imperial-college-london,294030,99.4,68.7,...,8746.0,47.0,57.0,5,A,2071.0,VH,L,FC,3930.0
8,9,University of Chicago,93.5,US,United States,North America,/universities/university-chicago,294536,99.9,85.9,...,3379.0,24.0,43.0,5,B,635.0,VH,L,FC,2449.0
9,10,ETH Zurich - Swiss Federal Institute of Techno...,93.3,CH,Switzerland,Europe,/universities/eth-zurich-swiss-federal-institu...,294432,99.6,98.7,...,7563.0,28.0,47.0,5,A,1886.0,VH,L,CO,2477.0
10,11,"Nanyang Technological University, Singapore (NTU)",92.2,SG,Singapore,Asia,/universities/nanyang-technological-university...,294821,93.9,83.3,...,7251.0,54.0,82.0,3,A,2993.0,VH,L,FC,4338.0
11,12,Ecole Polytechnique FÃ©dÃ©rale de Lausanne (EPFL),91.2,CH,Switzerland,Europe,/universities/ecole-polytechnique-f%C3%A9d%C3%...,294481,83.0,99.2,...,5896.0,44.0,52.0,5,A,1300.0,VH,M,FO,1695.0
12,13,Princeton University,91,US,United States,North America,/universities/princeton-university,297490,100.0,100.0,...,1793.0,35.0,66.0,5,B,246.0,VH,M,CO,1007.0
13,14,Cornell University,90.7,US,United States,North America,/universities/cornell-university,294514,99.6,96.2,...,5411.0,39.0,65.0,5,B,970.0,VH,L,FC,2718.0
14,15,National University of Singapore (NUS),90.5,SG,Singapore,Asia,/universities/national-university-singapore-nus,294798,100.0,66.2,...,8917.0,52.0,82.0,5,A,3086.0,VH,XL,FC,5106.0
15,16,Yale University,90.4,US,United States,North America,/universities/yale-university,297177,100.0,63.2,...,2469.0,24.0,44.0,5,B,1708.0,VH,L,FC,4940.0
16,17,Johns Hopkins University,89.8,US,United States,North America,/universities/johns-hopkins-university,294184,94.3,83.9,...,4105.0,21.0,37.0,5,B,1061.0,VH,L,FC,4462.0
17,18,Columbia University,88.9,US,United States,North America,/universities/columbia-university,294519,99.9,62.3,...,8105.0,15.0,31.0,5,B,913.0,VH,L,FC,6189.0
18,19,University of Pennsylvania,88.7,US,United States,North America,/universities/university-pennsylvania,297569,97.4,67.4,...,4250.0,28.0,48.0,5,B,1383.0,VH,L,FC,5499.0
19,20,The Australian National University,87.1,AU,Australia,Oceania,/universities/australian-national-university,294616,99.3,85.6,...,5551.0,39.0,57.0,4,A,927.0,VH,L,FC,1600.0
20,21,University of Michigan,87,US,United States,North America,/universities/university-michigan,294857,99.7,66.7,...,7527.0,36.0,66.0,5,A,1920.0,VH,XL,FC,6809.0
21,21,Duke University,87,US,United States,North America,/universities/duke-university,294490,94.0,91.4,...,2864.0,23.0,42.0,5,B,226.0,VH,L,FC,2938.0
22,23,The University of Edinburgh,86.9,GB,United Kingdom,Europe,/universities/university-edinburgh,294478,99.1,55.5,...,10551.0,52.0,72.0,5,A,1553.0,VH,L,FC,4075.0
23,23,King's College London,86.9,GB,United Kingdom,Europe,/universities/kings-college-london,294029,92.8,64.8,...,9451.0,50.0,64.0,5,A,1513.0,VH,L,FC,3650.0
24,25,Tsinghua University,85.6,CN,China,Asia,/universities/tsinghua-university,297235,99.2,75.3,...,4072.0,51.0,41.0,5,A,932.0,VH,XL,FC,5506.0
25,26,The University of Hong Kong,85.5,HK,Hong Kong,Asia,/universities/university-hong-kong,294256,99.1,46.3,...,8230.0,46.0,65.0,5,A,2085.0,VH,L,FC,3012.0
26,27,"University of California, Berkeley (UCB)",84.9,US,United States,North America,/universities/university-california-berkeley-ucb,294572,100.0,99.3,...,6086.0,61.0,73.0,5,A,1395.0,VH,XL,FC,3321.0
27,28,The University of Tokyo,84.8,JP,Japan,Asia,/universities/university-tokyo,297246,100.0,73.3,...,2639.0,11.0,51.0,5,A,254.0,VH,L,FC,4514.0
28,28,Northwestern University,84.8,US,United States,North America,/universities/northwestern-university,294767,91.3,75.4,...,3422.0,21.0,45.0,5,B,1141.0,VH,L,FC,4231.0
29,30,The Hong Kong University of Science and Techno...,84.3,HK,Hong Kong,Asia,/universities/hong-kong-university-science-tec...,294255,93.0,87.7,...,2921.0,52.0,85.0,3,A,835.0,VH,M,CO,1150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,171,Albert-Ludwigs-Universitaet Freiburg,50.8,DE,Germany,Europe,/universities/albert-ludwigs-universitaet-frei...,294376,61.6,53.8,...,3897.0,49.0,57.0,5,A,413.0,VH,L,FC,1966.0
171,172,Indian Institute of Technology Delhi (IITD),50.7,IN,India,Asia,/universities/indian-institute-technology-delh...,294242,NaN,NaN,...,80.0,NaN,52.0,NaN,NaN,4.0,NaN,NaN,NaN,466.0
172,173,King Fahd University of Petroleum & Minerals,50.3,SA,Saudi Arabia,Asia,/universities/king-fahd-university-petroleum-m...,297053,35.7,27.6,...,989.0,45.0,86.0,4,A,665.0,VH,M,CO,1062.0
173,173,University of Liverpool,50.3,GB,United Kingdom,Europe,/universities/university-liverpool,294045,45.4,38.7,...,7502.0,73.0,84.0,5,A,717.0,VH,L,FC,2390.0
174,173,University of Virginia,50.3,US,United States,North America,/universities/university-virginia,297205,47.7,53.3,...,1899.0,39.0,71.0,5,A,487.0,VH,L,FC,2509.0
175,176,University of Technology Sydney,50.1,AU,Australia,Oceania,/universities/university-technology-sydney,297273,50.7,45.8,...,7769.0,52.0,75.0,3,A,546.0,VH,L,CO,1328.0
176,177,CentraleSupÃ©lec,50,FR,France,Europe,/universities/centralesup%C3%A9lec,294485,NaN,31.8,...,1132.0,19.0,26.0,5,A,137.0,VH,S,FO,529.0
177,178,University of Florida,49.8,US,United States,North America,/universities/university-florida,294394,58.6,39.2,...,4597.0,12.0,69.0,5,B,504.0,VH,XL,FC,5419.0
178,179,Indian Institute of Technology Bombay (IITB),49.7,IN,India,Asia,/universities/indian-institute-technology-bomb...,294243,62.3,50.8,...,93.0,12.0,44.0,4,A,19.0,VH,M,CO,876.0
179,179,University of Twente,49.7,NL,Netherlands,Europe,/universities/university-twente,297226,28.9,92.2,...,2235.0,52.0,57.0,4,A,299.0,VH,M,FO,910.0
180,181,University of GÃ¶ttingen,49.6,DE,Germany,Europe,/universities/university-g%C3%B6ttingen,294311,62.2,23.9,...,3736.0,38.0,67.0,5,A,641.0,VH,XL,FC,3678.0
181,182,Vrije Universiteit Brussel (VUB),49.5,BE,Belgium,Europe,/universities/vrije-universiteit-brussel-vub,294582,34.5,23.8,...,1853.0,19.0,47.0,5,A,515.0,VH,M,FC,1792.0
182,182,Universidade Estadual de Campinas (Unicamp),49.5,BR,Brazil,Latin America,/universities/universidade-estadual-de-campina...,294560,76.9,30.0,...,966.0,12.0,56.0,4,A,109.0,VH,L,FC,1968.0
183,182,University of Colorado Boulder,49.5,US,United States,North America,/universities/university-colorado-boulder,294520,47.0,52.0,...,2679.0,73.0,87.0,5,A,566.0,VH,XL,CO,3685.0
184,182,Vienna University of Technology,49.5,AT,Austria,Europe,/universities/vienna-university-technology,297208,39.8,83.7,...,5199.0,59.0,65.0,5,A,172.0,VH,L,FO,706.0
185,186,University of Rochester,49.3,US,United States,North America,/universities/university-rochester,297494,32.1,42.6,...,2805.0,45.0,62.0,5,B,488.0,VH,M,FC,2569.0
186,187,Universidad AutÃ³noma de Madrid,49.2,ES,Spain,Europe,/universities/universidad-aut%C3%B3noma-de-madrid,293977,65.7,24.7,...,2976.0,58.0,77.0,3,A,181.0,VH,L,FC,2738.0
187,188,Alma Mater Studiorum - University of Bologna,49.1,IT,Italy,Europe,/universities/alma-mater-studiorum-university-...,294595,81.5,36.9,...,4195.0,50.0,57.0,5,A,153.0,VH,XL,FC,2990.0
188,188,University of Reading,49.1,GB,United Kingdom,Europe,/universities/university-reading,297458,39.4,51.6,...,4077.0,50.0,74.0,5,A,422.0,VH,L,CO,1280.0
189,190,Indian Institute of Science (IISc) Bangalore,49,IN,India,Asia,/universities/indian-institute-science-iisc-ba...,295536,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,423.0
190,191,University of Cape Town,48.9,ZA,South Africa,Africa,/universities/university-cape-town,294558,60.2,35.9,...,3325.0,70.0,82.0,5,A,379.0,VH,L,FC,1733.0
191,192,Scuola Normale Superiore di Pisa,48.5,IT,Italy,Europe,/universities/scuola-normale-superiore-di-pisa,295576,NaN,98.3,...,48.0,2.0,55.0,NaN,NaN,1.0,VH,S,FO,86.0
192,192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,48.5,IT,Italy,Europe,/universities/scuola-superiore-santanna-pisa-d...,297078,NaN,NaN,...,135.0,NaN,24.0,NaN,NaN,1.0,NaN,NaN,NaN,119.0
193,192,Keio University CEMS MIM,48.5,JP,Japan,Asia,/universities/keio-university-cems-mim,294156,63.0,NaN,...,2178.0,52.0,86.0,5,B,261.0,VH,XL,FC,3905.0
194,195,Stockholm University,48.1,SE,Sweden,Europe,/universities/stockholm-university,297278,65.8,49.2,...,2636.0,50.0,76.0,5,A,646.0,VH,L,CO,2154.0
195,195,Universitat AutÃ²noma de Barcelona,48.1,ES,Spain,Europe,/universities/universitat-aut%C3%B2noma-de-bar...,294612,72.1,43.7,...,3848.0,31.0,75.0,3,A,230.0,VH,XL,FC,2187.0
196,195,Texas A&M University,48.1,US,United States,North America,/universities/texas-am-university,297256,69.7,57.0,...,4900.0,11.0,79.0,5,A,206.0,VH,XL,FC,3446.0
197,199,Instituto TecnolÃ³gico y de Estudios Superiores...,48,MX,Mexico,Latin America,/universities/instituto-tecnol%C3%B3gico-y-de-...,297267,42.8,NaN,...,1412.0,42.0,83.0,4,B,821.0,MD,L,FC,1822.0
198,200,Maastricht University,47.9,NL,Netherlands,Europe,/universities/maastricht-university,293985,30.8,73.3,...,8234.0,67.0,63.0,3,A,502.0,VH,L,CO,1277.0
199,201,Universidad de Chile,47.8,CL,Chile,Latin America,/universities/universidad-de-chile,294535,82.7,NaN,...,2134.0,50.0,79.0,5,A,127.0,HI,XL,FC,2256.0

# timeshighereducation.com section
Strategy for www.timeshighereducation.com:
1. Similarly as in previous task we analysed web traffic (Postman app or Developer tools) after sending GET request and found an url to the json file with all needed informations. DataFrame was created using that json file.
2. Besides data cleaning and renaming or droping attributes, no futher actions were applied because of very handy json file structure.

In [10]:
times_rank_url = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(times_rank_url).json()

In [113]:
top_unis_times = pd.DataFrame.from_dict(r['data'][:200])

In [114]:
top_unis_times['stats_number_students'] = top_unis_times.stats_number_students.str.replace(",", "")

In [115]:
top_unis_times.columns

Index(['aliases', 'location', 'member_level', 'name', 'nid', 'rank',
       'rank_order', 'record_type', 'scores_citations',
       'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio', 'subjects_offered', 'url'],
      dtype='object')

In [116]:
times_relevant_columns = ['rank', 'name', 'location',  
       'scores_citations', 'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio']

top_unis_times = top_unis_times[times_relevant_columns]

top_unis_times['rank'] = top_unis_times['rank'].str.replace("=", "").apply(pd.to_numeric)

Now we want to obtain some information from the rankings.

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

In [117]:
top_unis_times

,rank,name,location,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,scores_overall,scores_overall_rank,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,1,University of Oxford,United Kingdom,99.1,15,63.7,169,95.0,24,94.3,10,99.5,1,86.7,5,46 : 54,20409,38%,11.2
1,2,University of Cambridge,United Kingdom,97.5,29,51.5,260,93.0,35,93.2,20,97.8,3,87.8,3,45 : 55,18389,35%,10.9
2,3,California Institute of Technology,United States,99.5,10,92.6,51,59.7,322,93.0,30,97.5,4,90.3,1,31 : 69,2209,27%,6.5
3,3,Stanford University,United States,99.9,4,60.5,189,77.6,162,93.0,40,96.7,5,89.1,2,42 : 58,15845,22%,7.5
4,5,Massachusetts Institute of Technology,United States,100.0,1,88.4,63,87.6,81,92.5,50,91.9,9,87.3,4,37 : 63,11177,34%,8.7
5,6,Harvard University,United States,99.7,8,46.4,330,79.7,143,91.8,60,98.4,2,84.2,9,None,20326,26%,8.9
6,7,Princeton University,United States,99.6,9,58.0,204,78.7,152,91.1,70,93.9,6,85.7,7,45 : 55,7955,24%,8.3
7,8,Imperial College London,United Kingdom,96.7,40,71.6,120,96.6,13,89.2,80,88.7,12,81.7,13,37 : 63,15857,55%,11.4
8,9,University of Chicago,United States,99.4,12,39.8,487,69.6,231,88.6,90,90.1,10,85.3,8,44 : 56,13525,25%,6.2
9,10,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,94.3,60,60.3,190,98.1,8,87.7,100,92.0,8,76.4,21,31 : 69,19233,38%,14.6
10,10,University of Pennsylvania,United States,98.5,22,56.9,213,61.3,300,87.7,110,90.1,11,83.7,10,50 : 50,20361,20%,6.5
11,12,Yale University,United States,98.4,24,45.1,361,64.6,272,87.6,120,87.0,17,86.7,6,49 : 51,12155,21%,4.3
12,13,Johns Hopkins University,United States,98.4,23,95.8,41,70.6,219,86.5,130,88.1,16,76.1,23,52 : 48,15498,24%,4.3
13,14,Columbia University,United States,98.8,19,41.3,438,76.6,177,86.0,140,83.3,26,82.2,12,None,26587,32%,6.1
14,15,"University of California, Los Angeles",United States,97.9,27,48.6,298,59.5,326,85.7,150,88.1,15,80.7,14,53 : 47,39279,17%,9.6
15,16,University College London,United Kingdom,94.6,56,41.2,441,94.6,25,85.3,160,88.2,13,74.4,25,56 : 44,30304,49%,10.5
16,17,Duke University,United States,98.3,25,100.0,1,62.5,292,85.1,170,80.6,27,80.7,15,49 : 51,15256,22%,4.5
17,18,"University of California, Berkeley",United States,99.8,5,37.5,586,64.5,273,84.3,180,84.5,24,77.4,18,52 : 48,36182,17%,13.1
18,19,Cornell University,United States,97.6,28,34.6,749,69.2,233,84.2,190,86.6,19,76.2,22,49 : 51,21850,24%,9.8
19,20,Northwestern University,United States,96.9,36,78.2,99,59.2,330,83.3,200,86.7,18,72.6,28,48 : 52,17466,18%,12.8
20,21,University of Michigan,United States,95.7,47,46.2,333,55.8,367,83.1,210,86.3,20,77.2,20,48 : 52,41818,16%,8.6
21,22,National University of Singapore,Singapore,81.3,193,61.9,181,95.8,20,82.8,220,88.2,14,77.4,19,51 : 49,30602,30%,17.0
22,22,University of Toronto,Canada,92.6,75,46.5,329,80.1,137,82.8,230,84.8,23,74.6,24,None,69427,17%,18.7
23,24,Carnegie Mellon University,United States,99.7,7,50.4,277,79.1,147,81.9,240,83.7,25,65.8,36,39 : 61,12676,45%,13.5
24,25,London School of Economics and Political Science,United Kingdom,94.9,53,33.7,820,92.2,43,79.4,250,72.0,43,71.8,30,52 : 48,10065,71%,12.2
25,25,University of Washington,United States,99.0,17,47.3,319,56.5,358,79.4,260,79.9,28,67.9,34,52 : 48,44945,16%,11.4
26,27,University of Edinburgh,United Kingdom,97.0,35,36.3,645,92.0,46,79.2,270,74.2,36,66.8,35,59 : 41,26759,40%,12.5
27,27,New York University,United States,96.5,43,37.0,615,53.4,394,79.2,280,77.4,34,73.7,27,56 : 44,43860,26%,9.6
28,27,Peking University,China,74.2,274,100.0,8,53.0,404,79.2,290,85.1,22,83.0,11,47 : 53,42136,16%,8.9
29,30,Tsinghua University,China,71.4,306,99.8,19,41.0,598,79.0,300,93.2,7,80.2,16,32 : 68,42089,9%,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,171,University of Cape Town,South Africa,87.0,133,88.5,62,81.1,126,54.4,1710,36.2,225,30.5,372,53 : 47,20775,18%,11.7
171,172,"Rutgers, the State University of New Jersey",United States,79.7,214,36.9,620,39.2,622,54.3,1720,45.3,143,43.0,148,52 : 48,43439,10%,11.1
172,173,KTH Royal Institute of Technology,Sweden,67.0,363,50.9,272,83.7,111,54.2,1730,46.3,138,42.3,158,33 : 67,12951,17%,16.0
173,173,University of MÃ¼nster,Germany,81.2,195,60.8,185,47.7,489,54.2,1740,42.1,161,40.3,181,53 : 47,42287,7%,42.6
174,175,UniversitÃ© Libre de Bruxelles,Belgium,80.4,205,48.4,302,83.2,114,54.0,1750,42.2,160,32.4,332,55 : 45,25343,35%,43.4
175,175,Newcastle University,United Kingdom,80.6,201,41.6,426,86.7,89,54.0,1760,40.8,176,33.4,304,49 : 51,20952,30%,15.6
176,177,University of Liverpool,United Kingdom,86.8,136,37.1,609,89.9,67,53.9,1770,34.7,245,32.7,318,54 : 46,19815,35%,11.7
177,177,Zhejiang University,China,45.1,564,89.4,57,25.2,844,53.9,1780,63.7,60,57.0,63,22 : 78,50051,6%,14.1
178,179,University of Luxembourg,Luxembourg,91.9,78,39.6,493,99.8,1,53.8,1790,32.4,275,26.8,475,50 : 50,4969,57%,14.6
179,179,University of Twente,Netherlands,68.5,342,83.6,79,85.3,97,53.8,1800,47.0,134,35.5,257,37 : 63,6697,27%,12.8
180,181,Paris-Sud University,France,86.8,138,32.3,971,63.5,281,53.7,1810,33.1,265,40.4,180,55 : 45,27221,16%,14.5
181,182,Ã‰cole Normale SupÃ©rieure de Lyon,France,80.9,197,37.9,570,67.3,246,53.6,1820,37.8,210,40.1,185,47 : 53,2221,13%,8.5
182,182,Hong Kong Polytechnic University,Hong Kong,67.7,356,45.8,343,79.9,139,53.6,1830,48.1,126,39.1,197,51 : 49,21773,25%,26.9
183,184,Scuola Normale Superiore di Pisa,Italy,75.4,255,37.7,581,49.4,460,53.4,1840,33.3,263,53.7,74,30 : 70,515,7%,5.2
184,185,University of Aberdeen,United Kingdom,87.1,131,41.9,419,93.3,33,53.3,1850,33.6,258,30.3,377,55 : 45,12055,36%,13.9
185,186,University of Miami,United States,90.3,91,37.2,606,67.1,248,53.1,1860,24.4,418,42.5,157,51 : 49,15860,16%,5.9
186,187,University of Dundee,United Kingdom,94.5,57,43.4,383,79.8,142,52.9,1870,32.0,284,26.3,491,62 : 38,10893,24%,14.9
187,188,University of East Anglia,United Kingdom,90.5,89,32.2,977,85.6,94,52.8,1880,31.6,290,29.9,395,60 : 40,13521,30%,13.6
188,188,Shanghai Jiao Tong University,China,44.1,572,88.9,60,33.4,717,52.8,1890,62.5,67,53.5,76,41 : 59,37288,6%,12.4
189,190,Aalto University,Finland,79.5,215,52.5,249,72.5,204,52.7,1900,35.8,232,37.8,210,34 : 66,12744,20%,20.2
190,191,University of Massachusetts,United States,88.8,112,51.0,269,54.8,379,52.6,1910,32.2,280,36.3,237,49 : 51,59230,14%,13.3
191,192,University of Auckland,New Zealand,73.8,282,67.3,154,90.6,61,52.5,1920,40.7,177,32.5,327,54 : 46,30348,29%,18.8
192,193,Northeastern University,United States,91.7,79,35.4,699,70.1,223,52.4,1930,26.8,370,35.6,254,49 : 51,18780,32%,14.0
193,194,Lomonosov Moscow State University,Russian Federation,15.8,932,89.0,58,61.1,303,52.3,1940,61.6,71,74.2,26,48 : 52,29236,22%,7.3
194,195,Tilburg University,Netherlands,61.3,422,59.0,197,75.8,179,52.1,1950,50.1,112,38.4,206,48 : 52,7738,13%,22.5
195,196,Paris-Sorbonne University â€“ Paris 4,France,77.1,240,32.1,998,57.9,345,52.0,1960,34.3,251,44.6,132,68 : 32,22042,15%,30.2
196,197,"Royal Holloway, University of London",United Kingdom,85.0,156,35.0,725,93.0,37,51.9,1970,27.9,345,33.9,294,59 : 41,8931,40%,15.4
197,198,"University of California, Riverside",United States,92.3,76,37.4,590,63.9,277,51.7,1980,30.9,294,30.0,391,51 : 49,20740,14%,20.7
198,198,University of Gothenburg,Sweden,87.5,129,38.9,525,62.5,293,51.7,1990,39.2,199,26.7,477,None,18378,13%,10.0
199,198,National Taiwan University,Taiwan,53.4,495,65.0,165,33.4,716,51.7,2000,54.7,93,50.4,87,40 : 60,31758,8%,11.5

In [118]:
top_unis_times['stats_student_staff_ratio'] = top_unis_times['stats_student_staff_ratio'].apply(pd.to_numeric)
best_faculty_ratio = top_unis_times['stats_student_staff_ratio'].sort_values().head(10)
best_faculty_ratio.index
top_unis_times.loc[best_faculty_ratio.index][['name','rank','stats_student_staff_ratio']]

                                 name  rank  stats_student_staff_ratio
105             Vanderbilt University   105                        3.3
109          University of Copenhagen   109                        4.1
12           Johns Hopkins University    13                        4.3
11                    Yale University    12                        4.3
153           University of Rochester   153                        4.3
97                   Emory University    98                        4.4
16                    Duke University    17                        4.5
114               Ã‰cole Polytechnique   115                        5.1
183  Scuola Normale Superiore di Pisa   184                        5.2
101          University of Pittsburgh   100                        5.9

In [119]:
top_unis_times['stats_pc_intl_students'].dtype
top_unis_times['stats_pc_intl_students'] = top_unis_times['stats_pc_intl_students'].str.strip('%').apply(pd.to_numeric)

In [132]:
best_intl_desc = top_unis_times['stats_pc_intl_students'].sort_values(ascending=False).head(10)
best_intl_asc = top_unis_times['stats_pc_intl_students'].sort_values(ascending=True).head(10)

In [133]:
top_unis_times.loc[best_intl_desc.index][['name','rank','stats_pc_intl_students']]

,name,rank,stats_pc_intl_students
24,London School of Economics and Political Science,25,71
178,University of Luxembourg,179,57
7,Imperial College London,8,55
37,Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne,38,55
102,Maastricht University,103,50
15,University College London,16,49
143,University of St Andrews,143,48
120,Queen Mary University of London,121,45
23,Carnegie Mellon University,24,45
39,University of Hong Kong,40,42

In [134]:
top_unis_times.loc[best_intl_asc.index][['name','rank','stats_pc_intl_students']]

,name,rank,stats_pc_intl_students
131,University of Science and Technology of China,132,3
161,"University of California, Santa Cruz",162,4
136,Pohang University of Science and Technology,137,4
188,Shanghai Jiao Tong University,188,6
177,Zhejiang University,177,6
167,University of Alabama at Birmingham,168,6
89,University of Helsinki,90,6
183,Scuola Normale Superiore di Pisa,184,7
173,University of MÃ¼nster,173,7
67,Utrecht University,68,7

**Aggregating by country and region**

In [218]:
times_by_country = top_unis_times.groupby(by='location').mean()

times_by_country['stats_student_staff_ratio'].sort_values().head(10)

location
Russian Federation     7.300000
Japan                  7.700000
Denmark                8.133333
Italy                  8.450000
Taiwan                11.500000
South Africa          11.700000
United States         11.904839
China                 11.942857
South Korea           13.300000
France                13.450000
Name: stats_student_staff_ratio, dtype: float64

In [227]:
times_by_country['stats_pc_intl_students'].sort_values(ascending=False).head(10)

location
Luxembourg        57.000000
United Kingdom    36.548387
Hong Kong         32.800000
Switzerland       31.428571
Australia         30.750000
Singapore         30.500000
New Zealand       29.000000
Ireland           27.000000
Austria           26.000000
Canada            22.500000
Name: stats_pc_intl_students, dtype: float64

In [220]:
times_by_country['stats_pc_intl_students'].sort_values(ascending=True).head(10)

location
Taiwan          8.000000
China           8.571429
Japan           9.000000
South Korea     9.000000
Italy          10.500000
Finland        13.000000
Spain          14.000000
Sweden         14.000000
Germany        15.200000
Denmark        16.666667
Name: stats_pc_intl_students, dtype: float64

The Times Higher Education data does not contain region information, just the country. Therefore we need to infer the region from country. To do this, we use the QS data set which contains both countries and regions to map countries in the Times Higher Education data set to regions.

In [221]:
top_unis_times['region_the'] = np.nan
top_unis
country_region_map = {}
for index,entry in top_unis.iterrows():
    if entry['country'] not in country_region_map:
        country_region_map[entry['country']] = entry['region']
country_region_map

{'Argentina': 'Latin America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Belgium': 'Europe',
 'Brazil': 'Latin America',
 'Canada': 'North America',
 'Chile': 'Latin America',
 'China': 'Asia',
 'Denmark': 'Europe',
 'Finland': 'Europe',
 'France': 'Europe',
 'Germany': 'Europe',
 'Hong Kong': 'Asia',
 'India': 'Asia',
 'Ireland': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Japan': 'Asia',
 'Malaysia': 'Asia',
 'Mexico': 'Latin America',
 'Netherlands': 'Europe',
 'New Zealand': 'Oceania',
 'Norway': 'Europe',
 'Russia': 'Europe',
 'Saudi Arabia': 'Asia',
 'Singapore': 'Asia',
 'South Africa': 'Africa',
 'South Korea': 'Asia',
 'Spain': 'Europe',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Taiwan': 'Asia',
 'United Kingdom': 'Europe',
 'United States': 'North America'}

In [222]:
for index,entry in top_unis_times.iterrows():
    if entry['location'] in country_region_map:
        top_unis_times.loc[index,'region_the'] = country_region_map[entry['location']]
        
for index,row in enumerate(top_unis_times['region_the'].isnull()):
    if row != False:
        print(index)

178
193

In [223]:
top_unis_times.loc[[178,193]][['location','region_the']]

               location region_the
178          Luxembourg        NaN
193  Russian Federation        NaN

In [224]:
top_unis_times.loc[178,'region_the'] = 'Europe'
top_unis_times.loc[193,'region_the'] = 'Europe'
top_unis_times['region_the'].isnull().any()

False

In [226]:
times_by_region = top_unis_times.groupby(by='region_the').mean()

times_by_region['stats_student_staff_ratio'].sort_values().head()

region_the
Africa           11.700000
North America    12.594118
Asia             13.976190
Europe           21.371287
Oceania          26.500000
Name: stats_student_staff_ratio, dtype: float64

In [232]:
times_by_region['stats_pc_intl_students'].sort_values(ascending=False)

region_the
Oceania          30.555556
Europe           24.465347
North America    18.558824
Africa           18.000000
Asia             16.523810
Name: stats_pc_intl_students, dtype: float64

In [233]:
times_by_region['stats_pc_intl_students'].sort_values(ascending=True)

region_the
Asia             16.523810
Africa           18.000000
North America    18.558824
Europe           24.465347
Oceania          30.555556
Name: stats_pc_intl_students, dtype: float64

# Merging both ranking DataFrames
Strategy:
1. We checked how many of university names overlap (105).
2. We looked at those which were not matched and found out that many of them have an abbreviation at the end, so we deleted them using regex to find every string that contains parentheses, for example '(MIT)' or '(EPFL)'.
3. After that operation there were 119 matched universities.
4. Another differentiating thing was the word `The` at the beginning of universities' names (139 matched).
5. At the end we used difflib library and its `get_close_matches` function iteratively with different cutoff parameter to find best matches between not matched names. That part required more manual assigning.
6. We ended up with 160 matched universities.
7. Merging was made on respectively `name` and `title` columns.

In [ ]:
matching_names_total_in_times = np.array([title in top_unis_times['name'].values for title in Total['title'].values])
matching_names_total_in_times

This names were not matched between `Total` and `top_unis_times`

In [ ]:
not_matched = Total[~matching_names_total_in_times].title.values
print(len(not_matched))

In [ ]:
Total.loc[Total['title'] == 'UCL (University College London)', 'title'] = 'University College London'
top_unis_times.loc[top_unis_times['name'] == 'ETH Zurich â€“ Swiss Federal Institute of Technology Zurich'
                   , 'name'] = 'ETH Zurich - Swiss Federal Institute of Technology'
Total.loc[Total['title'] == 'Ecole Polytechnique FÃ©dÃ©rale de Lausanne (EPFL)', 'title'] = 'Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne'

In [ ]:
for not_match in not_matched:
    Total.loc[Total['title'] == not_match, 'title'] = re.sub(r"\((.*?)\)", "" , not_match).strip()

In [ ]:
matching_names_total_in_times_2 = np.array([title in top_unis_times['name'].values for title in Total['title'].values])
print(np.count_nonzero(matching_names_total_in_times_2))

Plenty of names differ only by a `The` at the beginning of a `name`

In [ ]:
similar = [(elem, difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.7)[0]) for elem in Total[~matching_names_total_in_times_2].title.values if difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.7) != []]
len(similar)

In [ ]:
for not_match in Total[~matching_names_total_in_times_2].title.values:
    Total.loc[Total['title'] == not_match, 'title'] = re.sub(r"^(The)\s", "" , not_match)

In [ ]:
matching_names_total_in_times_3 = np.array([title in top_unis_times['name'].values for title in Total['title'].values])
print(np.count_nonzero(matching_names_total_in_times_3))

In [ ]:
similar2 = [(elem, difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.4)[0]) 
            for elem in Total[~matching_names_total_in_times_3].title.values 
            if difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.4) != []]

In [ ]:
names = [("King's College London", 'Kingâ€™s College London'),
         ('KAIST - Korea Advanced Institute of Science & Technology',
          'Korea Advanced Institute of Science and Technology (KAIST)'),
         ('Ecole Polytechnique', 'Ã‰cole Polytechnique'),
         ('Pohang University of Science And Technology',
          'Pohang University of Science and Technology'),
         ('University of North Carolina, Chapel Hill',
          'University of North Carolina at Chapel Hill'),
         ('Washington University in St. Louis', 'Washington University in St Louis'),
         ('KIT, Karlsruhe Institute of Technology',
          'Karlsruhe Institute of Technology'),
         ('Humboldt-UniversitÃ¤t zu Berlin', 'Humboldt University of Berlin'),
         ('Freie Universitaet Berlin', 'Free University of Berlin'),
         ('UniversitÃ© de MontrÃ©al', 'University of Montreal'),
         ('Technische UniversitÃ¤t Berlin', 'Technical University of Berlin'),
         ('UniversitÃ© catholique de Louvain', 'UniversitÃ© Catholique de Louvain'),
         ('Trinity College Dublin, The University of Dublin',
          'Trinity College Dublin'),
         ("Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
          'Scuola Superiore Santâ€™Anna'),
         ('Universitat AutÃ²noma de Barcelona', 'Autonomous University of Barcelona'),
         ('Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University of TÃ¼bingen')]
         
for total_name, top_unis_name in names:        
    Total.loc[Total['title'] == total_name, 'title'] = top_unis_name

In [ ]:
matching_names_total_in_times_4 = np.array([title in top_unis_times['name'].values for title in Total['title'].values])
print(np.count_nonzero(matching_names_total_in_times_4))

In [ ]:
matching_names_times_in_total = np.array([title in Total['title'].values for title in top_unis_times['name'].values])
print(np.count_nonzero(matching_names_times_in_total))

In [ ]:
similar3 = [(elem, difflib.get_close_matches(elem, top_unis_times[~matching_names_times_in_total].name.values, cutoff = 0.2)) 
            for elem in Total[~matching_names_total_in_times_4].title.values]

In [ ]:
names2 = [('Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen', 'LMU Munich'),
         ('Ruprecht-Karls-UniversitÃ¤t Heidelberg', 'Heidelberg University'),
         ('UniversitÃ© Pierre et Marie Curie', 'Pierre and Marie Curie University'),
         ('Wageningen University', 'Wageningen University & Research'),
         ('Albert-Ludwigs-Universitaet Freiburg', 'University of Freiburg')]

for total_name, top_unis_name in names2:        
    Total.loc[Total['title'] == total_name, 'title'] = top_unis_name

In [ ]:
matching_names_times_in_total = np.array([title in Total['title'].values for title in top_unis_times['name'].values])
print(np.count_nonzero(matching_names_times_in_total))

In [ ]:
Full_ranking = Total.merge(top_unis_times, left_on='title', right_on='name', how='inner')
Full_ranking[['title', 'Rank TU', 'rank']]