**Homework 2:**
Top university rankings

In [58]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import difflib

In [59]:
# Get basic ranking using the same api as website does. Link comes from analysing web traffic after GET request to topunieversities.com website
topuni_url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508409283658'
r = requests.get(topuni_url).json()

In [63]:
# Take only first 200 records and put them into DataFrame
top_unis = pd.DataFrame.from_dict(r['data'][:200])
top_unis = top_unis[['rank_display', 'title', 'score', 'cc', 'country', 
       'region', 'url', 'nid']]

In [65]:
details = pd.DataFrame()
for url, nid in zip(top_unis['url'].values, top_unis['nid'].values):
    #print(url)

    req = requests.get('https://www.topuniversities.com' + url)
    soup = BeautifulSoup(req.text, 'html.parser')
    req2 = requests.get('https://www.topuniversities.com/qs-profiles/classifications/' + nid).json()

    d = dict()
    d['url'] = url
    try:
        d['total faculty'] = int(soup.find("div", class_="total faculty").find("div", class_="number").string.strip().replace(",", ""))
        d['inter faculty'] = int(soup.find("div", class_="inter faculty").find("div", class_="number").string.strip().replace(",", ""))
        d['Number of students'] = int(soup.find("div", class_="total student").find("div", class_="number").string.strip().replace(",", ""))
        d['Postgraduate students [%]'] = int(soup.find("div", class_="total student").find("div", class_="post").span.string.strip().replace("%", ""))
        d['Undergraduate students [%]'] = int(soup.find("div", class_="total student").find("div", class_="grad").span.string.strip().replace("%", ""))
        d['Total international students'] = int(soup.find("div", class_="total inter").find("div", class_="number").string.strip().replace(",", ""))
        d['Postgraduate international students [%]'] = int(soup.find("div", class_="total inter").find("div", class_="post").span.string.strip().replace("%", ""))
        d['Undergraduate international students [%]'] = int(soup.find("div", class_="total inter").find("div", class_="grad").span.string.strip().replace("%", ""))

        #for s in soup.find("ul", class_="score").strings:
        #    print(s)

        #soup.find("div", id="wurc").find("ul", class_="score")

        score_type = [elem.string.strip() for elem in soup.find("ul", class_="score").find_all("div", class_="criteria")]
        score_value = [float(elem.string) for elem in soup.find("ul", class_="score").find_all("div", class_="text")]
        lis = list(zip(score_type, score_value))

        d.update(dict((type_, value_) for type_, value_ in lis))
        d.update(req2['classifications'])
        #temp = soup.find("ul", id = "uni-info").find_all("h4")

        #d['Age'] = temp[1].span.string
        #d['Status'] = temp[2].span.string
        #d['Research'] = temp[3].span.string
        #d['Focus'] = temp[4].span.string
        #for element in temp:
        #   d[element.contents[0].strip()] = element.span.string.strip()
    except:
        pass
    details = pd.concat([details, pd.DataFrame.from_dict([d])], ignore_index=True)
    
details.head()

,Academic Reputation,Citations per Faculty,Employer Reputation,Faculty Student,International Faculty,International Students,Number of students,Overall Score,Postgraduate international students [%],Postgraduate students [%],...,Undergraduate international students [%],Undergraduate students [%],age_value,data_status_value,inter faculty,research_intensity_value,size_value,subject_range_value,total faculty,url
0,100.0,99.9,100.0,100.0,100.0,96.1,11067.0,100.0,83.0,60.0,...,17.0,40.0,5,B,1679.0,VH,M,CO,2982.0,/universities/massachusetts-institute-technolo...
1,100.0,99.4,100.0,100.0,99.6,72.7,15878.0,98.7,83.0,56.0,...,17.0,44.0,5,B,2042.0,VH,L,FC,4285.0,/universities/stanford-university
2,100.0,99.9,100.0,98.3,96.5,75.2,22429.0,98.4,85.0,69.0,...,15.0,31.0,5,B,1311.0,VH,L,FC,4350.0,/universities/harvard-university
3,99.5,100.0,85.4,100.0,93.4,89.2,2255.0,97.7,87.0,56.0,...,13.0,44.0,5,B,350.0,VH,S,CO,953.0,/universities/california-institute-technology-...
4,100.0,78.3,100.0,100.0,97.4,97.7,18770.0,95.6,64.0,37.0,...,36.0,63.0,5,A,2278.0,VH,L,FC,5490.0,/universities/university-cambridge

In [82]:
Total = top_unis.merge(details, left_on='url', right_on='url', how='outer')

Total.rename(columns={'rank_display': 'Rank TU'}, inplace=True)

In [83]:
Total['Rank TU'] = Total['Rank TU'].str.replace("=", "")

In [84]:
times_rank = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(times_rank).json()
type(r)

dict

In [85]:
top_unis_times = pd.DataFrame.from_dict(r['data'][:200])
top_unis_times.head()

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,...,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,...,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,...,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,...,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,...,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...

In [86]:
top_unis_times['stats_number_students'] = top_unis_times.stats_number_students.str.replace(",", "")
top_unis_times

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,...,99.5,1,86.7,5,46 : 54,20409,38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,...,97.8,3,87.8,3,45 : 55,18389,35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,...,97.5,4,90.3,1,31 : 69,2209,27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,...,96.7,5,89.1,2,42 : 58,15845,22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,...,91.9,9,87.3,4,37 : 63,11177,34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,...,98.4,2,84.2,9,None,20326,26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,...,93.9,6,85.7,7,45 : 55,7955,24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,...,88.7,12,81.7,13,37 : 63,15857,55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,...,90.1,10,85.3,8,44 : 56,13525,25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,0,ETH Zurich â€“ Swiss Federal Institute of Techno...,479,=10,100,master_account,94.3,60,...,92.0,8,76.4,21,31 : 69,19233,38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,0,University of Pennsylvania,480,=10,110,private,98.5,22,...,90.1,11,83.7,10,50 : 50,20361,20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,0,Yale University,475,12,120,private,98.4,24,...,87.0,17,86.7,6,49 : 51,12155,21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,0,Johns Hopkins University,478,13,130,private,98.4,23,...,88.1,16,76.1,23,52 : 48,15498,24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,0,Columbia University,476,14,140,private,98.8,19,...,83.3,26,82.2,12,None,26587,32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,0,"University of California, Los Angeles",477,15,150,public,97.9,27,...,88.1,15,80.7,14,53 : 47,39279,17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,0,University College London,481,16,160,master_account,94.6,56,...,88.2,13,74.4,25,56 : 44,30304,49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,0,Duke University,487,17,170,private,98.3,25,...,80.6,27,80.7,15,49 : 51,15256,22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,0,"University of California, Berkeley",474,18,180,public,99.8,5,...,84.5,24,77.4,18,52 : 48,36182,17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,0,Cornell University,484,19,190,private,97.6,28,...,86.6,19,76.2,22,49 : 51,21850,24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,0,Northwestern University,490,20,200,private,96.9,36,...,86.7,18,72.6,28,48 : 52,17466,18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,0,University of Michigan,482,21,210,public,95.7,47,...,86.3,20,77.2,20,48 : 52,41818,16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,6,National University of Singapore,504,=22,220,master_account,81.3,193,...,88.2,14,77.4,19,51 : 49,30602,30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,0,University of Toronto,483,=22,230,master_account,92.6,75,...,84.8,23,74.6,24,None,69427,17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,0,Carnegie Mellon University,485,24,240,private,99.7,7,...,83.7,25,65.8,36,39 : 61,12676,45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,0,London School of Economics and Political Science,511,=25,250,master_account,94.9,53,...,72.0,43,71.8,30,52 : 48,10065,71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,0,University of Washington,489,=25,260,public,99.0,17,...,79.9,28,67.9,34,52 : 48,44945,16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,0,University of Edinburgh,500,=27,270,master_account,97.0,35,...,74.2,36,66.8,35,59 : 41,26759,40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,0,New York University,508,=27,280,private,96.5,43,...,77.4,34,73.7,27,56 : 44,43860,26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,0,Peking University,514,=27,290,master_account,74.2,274,...,85.1,22,83.0,11,47 : 53,42136,16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,6,Tsinghua University,535,30,300,master_account,71.4,306,...,93.2,7,80.2,16,32 : 68,42089,9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,0,University of Cape Town,567,171,1710,master_account,87.0,133,...,36.2,225,30.5,372,53 : 47,20775,18%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,0,"Rutgers, the State University of New Jersey",546,172,1720,public,79.7,214,...,45.3,143,43.0,148,52 : 48,43439,10%,11.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,0,KTH Royal Institute of Technology,651,=173,1730,master_account,67.0,363,...,46.3,138,42.3,158,33 : 67,12951,17%,16.0,"Architecture,Biological Sciences,Chemistry,Com...",/world-university-rankings/kth-royal-institute...
173,University of MÃ¼nster,Germany,0,University of MÃ¼nster,756,=173,1740,master_account,81.2,195,...,42.1,161,40.3,181,53 : 47,42287,7%,42.6,"Chemistry,Communication & Media Studies,Comput...",/world-university-rankings/university-munster
174,UniversitÃ© Libre de Bruxelles,Belgium,0,UniversitÃ© Libre de Bruxelles,669,=175,1750,master_account,80.4,205,...,42.2,160,32.4,332,55 : 45,25343,35%,43.4,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,6,Newcastle University,610,=175,1760,master_account,80.6,201,...,40.8,176,33.4,304,49 : 51,20952,30%,15.6,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,11,University of Liverpool,646,=177,1770,master_account,86.8,136,...,34.7,245,32.7,318,54 : 46,19815,35%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,11,Zhejiang University,815,=177,1780,master_account,45.1,564,...,63.7,60,57.0,63,22 : 78,50051,6%,14.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,6,University of Luxembourg,131698,=179,1790,master_account,91.9,78,...,32.4,275,26.8,475,50 : 50,4969,57%,14.6,"Accounting & Finance,Biological Sciences,Busin...",/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,6,University of Twente,664,=179,1800,master_account,68.5,342,...,47.0,134,35.5,257,37 : 63,6697,27%,12.8,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/university-twente
180,Paris-Sud University,France,0,Paris-Sud University,867,181,1810,master_account,86.8,138,...,33.1,265,40.4,180,55 : 45,27221,16%,14.5,"Business & Management,Chemistry,Economics & Ec...",/world-university-rankings/paris-sud-university
181,Ã‰cole Normale SupÃ©rieure de Lyon,France,0,Ã‰cole Normale SupÃ©rieure de Lyon,605,=182,1820,master_account,80.9,197,...,37.8,210,40.1,185,47 : 53,2221,13%,8.5,"Chemistry,Computer Science,Geology, Environmen...",/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,11,Hong Kong Polytechnic University,723,=182,1830,master_account,67.7,356,...,48.1,126,39.1,197,51 : 49,21773,25%,26.9,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,0,Scuola Normale Superiore di Pisa,1019,184,1840,master_account,75.4,255,...,33.3,263,53.7,74,30 : 70,515,7%,5.2,"Biological Sciences,Chemistry,Computer Science...",/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,0,University of Aberdeen,615,185,1850,master_account,87.1,131,...,33.6,258,30.3,377,55 : 45,12055,36%,13.9,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-aberdeen
185,University of Miami,United States,0,University of Miami,636,186,1860,private,90.3,91,...,24.4,418,42.5,157,51 : 49,15860,16%,5.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,11,University of Dundee,640,187,1870,master_account,94.5,57,...,32.0,284,26.3,491,62 : 38,10893,24%,14.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,0,University of East Anglia,609,=188,1880,master_account,90.5,89,...,31.6,290,29.9,395,60 : 40,13521,30%,13.6,"Accounting & Finance,Archaeology,Biological Sc...",/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,0,Shanghai Jiao Tong University,801,=188,1890,master_account,44.1,572,...,62.5,67,53.5,76,41 : 59,37288,6%,12.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,0,Aalto University,767,190,1900,master_account,79.5,215,...,35.8,232,37.8,210,34 : 66,12744,20%,20.2,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/aalto-university
190,University of Massachusetts,United States,0,University of Massachusetts,528,191,1910,master_account,88.8,112,...,32.2,280,36.3,237,49 : 51,59230,14%,13.3,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,11,University of Auckland,637,192,1920,master_account,73.8,282,...,40.7,177,32.5,327,54 : 46,30348,29%,18.8,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-auckland
192,Northeastern University,United States,0,Northeastern University,681,193,1930,private,91.7,79,...,26.8,370,35.6,254,49 : 51,18780,32%,14.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,0,Lomonosov Moscow State University,753,194,1940,master_account,15.8,932,...,61.6,71,74.2,26,48 : 52,29236,22%,7.3,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,0,Tilburg University,734,195,1950,master_account,61.3,422,...,50.1,112,38.4,206,48 : 52,7738,13%,22.5,"Business & Management,Economics & Econometrics...",/world-university-rankings/tilburg-university
195,Paris-Sorbonne University â€“ Paris 4,France,0,Paris-Sorbonne University â€“ Paris 4,924,196,1960,master_account,77.1,240,...,34.3,251,44.6,132,68 : 32,22042,15%,30.2,"Archaeology,Art, Performing Arts & Design,Geog...",/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,0,"Royal Holloway, University of London",571,197,1970,master_account,85.0,156,...,27.9,345,33.9,294,59 : 41,8931,40%,15.4,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,0,"University of California, Riverside",607,=198,1980,public,92.3,76,...,30.9,294,30.0,391,51 : 49,20740,14%,20.7,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,0,University of Gothenburg,676,=198,1990,master_account,87.5,129,...,39.2,199,26.7,477,None,18378,13%,10.0,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,0,National Taiwan University,618,=198,2000,master_account,53.4,495,...,54.7,93,50.4,87,40 : 60,31758,8%,11.5,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/national-taiwan-uni...

In [87]:
top_unis_times.columns

Index(['aliases', 'location', 'member_level', 'name', 'nid', 'rank',
       'rank_order', 'record_type', 'scores_citations',
       'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio', 'subjects_offered', 'url'],
      dtype='object')

In [88]:
times_relevant_columns = ['rank', 'name', 'location',  
       'scores_citations', 'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio']

In [89]:
top_unis_times = top_unis_times[times_relevant_columns]
top_unis_times.head()

,rank,name,location,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,scores_overall,scores_overall_rank,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,1,University of Oxford,United Kingdom,99.1,15,63.7,169,95.0,24,94.3,10,99.5,1,86.7,5,46 : 54,20409,38%,11.2
1,2,University of Cambridge,United Kingdom,97.5,29,51.5,260,93.0,35,93.2,20,97.8,3,87.8,3,45 : 55,18389,35%,10.9
2,=3,California Institute of Technology,United States,99.5,10,92.6,51,59.7,322,93.0,30,97.5,4,90.3,1,31 : 69,2209,27%,6.5
3,=3,Stanford University,United States,99.9,4,60.5,189,77.6,162,93.0,40,96.7,5,89.1,2,42 : 58,15845,22%,7.5
4,5,Massachusetts Institute of Technology,United States,100.0,1,88.4,63,87.6,81,92.5,50,91.9,9,87.3,4,37 : 63,11177,34%,8.7

In [117]:
top_unis_times['rank'] = top_unis_times['rank'].str.replace("=", "")

/home/adam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
Total['title'].values

array(['Massachusetts Institute of Technology (MIT)',
       'Stanford University', 'Harvard University',
       'California Institute of Technology (Caltech)',
       'University of Cambridge', 'University of Oxford',
       'UCL (University College London)', 'Imperial College London',
       'University of Chicago',
       'ETH Zurich - Swiss Federal Institute of Technology',
       'Nanyang Technological University, Singapore (NTU)',
       'Ecole Polytechnique FÃ©dÃ©rale de Lausanne (EPFL)',
       'Princeton University', 'Cornell University',
       'National University of Singapore (NUS)', 'Yale University',
       'Johns Hopkins University', 'Columbia University',
       'University of Pennsylvania', 'The Australian National University',
       'University of Michigan', 'Duke University',
       'The University of Edinburgh', "King's College London",
       'Tsinghua University', 'The University of Hong Kong',
       'University of California, Berkeley (UCB)',
       'The University of Tokyo', 'Northwestern University',
       'The Hong Kong University of Science and Technology',
       'University of Toronto', 'McGill University',
       'University of California, Los Angeles (UCLA)',
       'The University of Manchester',
       'London School of Economics and Political Science (LSE)',
       'Kyoto University', 'Seoul National University',
       'Peking University', 'University of California, San Diego (UCSD)',
       'Fudan University',
       'KAIST - Korea Advanced Institute of Science & Technology',
       'The University of Melbourne', 'Ecole normale supÃ©rieure, Paris',
       'University of Bristol',
       'The University of New South Wales (UNSW Sydney)',
       'The Chinese University of Hong Kong (CUHK)',
       'The University of Queensland', 'Carnegie Mellon University',
       'City University of Hong Kong', 'The University of Sydney',
       'University of British Columbia', 'New York University (NYU)',
       'Brown University', 'Delft University of Technology',
       'University of Wisconsin-Madison', 'Tokyo Institute of Technology',
       'The University of Warwick', 'University of Amsterdam',
       'Ecole Polytechnique', 'Monash University',
       'University of Washington', 'Shanghai Jiao Tong University',
       'Osaka University', 'Technical University of Munich',
       'University of Glasgow', 'Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen',
       'University of Texas at Austin',
       'Ruprecht-Karls-UniversitÃ¤t Heidelberg',
       'University of Illinois at Urbana-Champaign',
       'Georgia Institute of Technology',
       'Pohang University of Science And Technology (POSTECH)',
       'KU Leuven', 'University of Copenhagen', 'University of Zurich',
       'Universidad de Buenos Aires (UBA)', 'Tohoku University',
       'National Taiwan University (NTU)', 'Durham University',
       'Lund University', 'University of North Carolina, Chapel Hill',
       'Boston University', 'The University of Auckland',
       'The University of Sheffield', 'University of Birmingham',
       'The University of Nottingham', 'The Ohio State University',
       'Zhejiang University',
       'Trinity College Dublin, The University of Dublin',
       'Rice University', 'Korea University', 'University of Alberta',
       'University of St Andrews', 'The University of Western Australia',
       'Pennsylvania State University',
       'Lomonosov Moscow State University',
       'The Hong Kong Polytechnic University',
       'University of Science and Technology of China',
       'University of Geneva', 'KTH Royal Institute of Technology',
       'Washington University in St. Louis', 'University of Leeds',
       'University of Southampton', 'University of Helsinki',
       'Eindhoven University of Technology', 'Purdue University',
       'Yonsei University', 'KIT, Karlsruhe Institute of Technology',
       'Sungkyunkwan University (SKKU)', 'Utrecht University',
       'Leiden University', 'The University of Adelaide',
       'Uppsala University', 'University of Groningen',
       'Universiti Malaya (UM)', 'Nanjing University', 'Nagoya University',
       'Technical University of Denmark',
       'University of California, Davis', 'Aarhus University',
       'Humboldt-UniversitÃ¤t zu Berlin', 'Universidade de SÃ£o Paulo',
       'Universidad Nacional AutÃ³noma de MÃ©xico  (UNAM)',
       'Hokkaido University', 'Wageningen University',
       'Freie Universitaet Berlin', 'Ghent University',
       'Queen Mary University of London', 'Kyushu University',
       'University of Maryland, College Park', 'UniversitÃ© de MontrÃ©al',
       'UniversitÃ© Pierre et Marie Curie (UPMC)',
       'University of Southern California',
       'Chalmers University of Technology',
       'University of California, Santa Barbara (UCSB)',
       'Lancaster University', 'University of York', 'Cardiff University',
       'Pontificia Universidad CatÃ³lica de Chile (UC)', 'Aalto University',
       'McMaster University', 'RWTH Aachen University',
       'University of Pittsburgh', 'University of Oslo',
       'Technische UniversitÃ¤t Berlin (TU Berlin)',
       'The Hebrew University of Jerusalem', 'University of Lausanne',
       'Erasmus University Rotterdam', 'Emory University',
       'University of Basel', 'Michigan State University',
       'University of Otago', 'University of Waterloo',
       'UniversitÃ© catholique de Louvain (UCL)', 'University of Vienna',
       'Hanyang University', 'Universitat de Barcelona',
       'Ã‰cole Normale SupÃ©rieure de Lyon', 'University of Aberdeen',
       'The University of Exeter', 'University of Bath',
       'Newcastle University', 'National Tsing Hua University',
       'University of Minnesota', 'University of Bergen',
       'University of California, Irvine',
       'Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University of Bern',
       'University College Dublin', 'Dartmouth College',
       'Politecnico di Milano', 'Albert-Ludwigs-Universitaet Freiburg',
       'Indian Institute of Technology Delhi (IITD)',
       'King Fahd University of Petroleum & Minerals',
       'University of Liverpool', 'University of Virginia',
       'University of Technology Sydney', 'CentraleSupÃ©lec',
       'University of Florida',
       'Indian Institute of Technology Bombay (IITB)',
       'University of Twente', 'University of GÃ¶ttingen',
       'Vrije Universiteit Brussel (VUB)',
       'Universidade Estadual de Campinas (Unicamp)',
       'University of Colorado Boulder', 'Vienna University of Technology',
       'University of Rochester', 'Universidad AutÃ³noma de Madrid',
       'Alma Mater Studiorum - University of Bologna',
       'University of Reading',
       'Indian Institute of Science (IISc) Bangalore',
       'University of Cape Town', 'Scuola Normale Superiore di Pisa',
       "Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
       'Keio University CEMS MIM', 'Stockholm University',
       'Universitat AutÃ²noma de Barcelona', 'Texas A&M University',
       'Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
       'Maastricht University', 'Universidad de Chile'], dtype=object)

In [92]:
matching_names_total_in_times = [title in top_unis_times['name'].values for title in Total['title'].values]

np.count_nonzero(matching_names_total_in_times)

105

In [93]:
matching_names_total_in_times = np.array(matching_names_total_in_times)

This names were not matched between `Total` and `top_unis_times`

In [94]:
not_matched = Total[~matching_names_total_in_times].title.values
print(len(not_matched))
not_matched

95

array(['Massachusetts Institute of Technology (MIT)',
       'California Institute of Technology (Caltech)',
       'UCL (University College London)',
       'ETH Zurich - Swiss Federal Institute of Technology',
       'Nanyang Technological University, Singapore (NTU)',
       'Ecole Polytechnique FÃ©dÃ©rale de Lausanne (EPFL)',
       'National University of Singapore (NUS)',
       'The Australian National University', 'The University of Edinburgh',
       "King's College London", 'The University of Hong Kong',
       'University of California, Berkeley (UCB)',
       'The University of Tokyo',
       'The Hong Kong University of Science and Technology',
       'University of California, Los Angeles (UCLA)',
       'The University of Manchester',
       'London School of Economics and Political Science (LSE)',
       'University of California, San Diego (UCSD)',
       'KAIST - Korea Advanced Institute of Science & Technology',
       'The University of Melbourne', 'Ecole normale supÃ©rieure, Paris',
       'The University of New South Wales (UNSW Sydney)',
       'The Chinese University of Hong Kong (CUHK)',
       'The University of Queensland', 'The University of Sydney',
       'New York University (NYU)', 'Tokyo Institute of Technology',
       'The University of Warwick', 'Ecole Polytechnique',
       'Osaka University', 'Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen',
       'Ruprecht-Karls-UniversitÃ¤t Heidelberg',
       'Pohang University of Science And Technology (POSTECH)',
       'Universidad de Buenos Aires (UBA)', 'Tohoku University',
       'National Taiwan University (NTU)',
       'University of North Carolina, Chapel Hill',
       'The University of Auckland', 'The University of Sheffield',
       'The University of Nottingham', 'The Ohio State University',
       'Trinity College Dublin, The University of Dublin',
       'Korea University', 'The University of Western Australia',
       'The Hong Kong Polytechnic University',
       'Washington University in St. Louis', 'Yonsei University',
       'KIT, Karlsruhe Institute of Technology',
       'The University of Adelaide', 'Universiti Malaya (UM)',
       'Nagoya University', 'Humboldt-UniversitÃ¤t zu Berlin',
       'Universidade de SÃ£o Paulo',
       'Universidad Nacional AutÃ³noma de MÃ©xico  (UNAM)',
       'Hokkaido University', 'Wageningen University',
       'Freie Universitaet Berlin', 'Kyushu University',
       'UniversitÃ© de MontrÃ©al', 'UniversitÃ© Pierre et Marie Curie (UPMC)',
       'Chalmers University of Technology',
       'University of California, Santa Barbara (UCSB)',
       'Pontificia Universidad CatÃ³lica de Chile (UC)',
       'Technische UniversitÃ¤t Berlin (TU Berlin)',
       'The Hebrew University of Jerusalem', 'University of Otago',
       'University of Waterloo', 'UniversitÃ© catholique de Louvain (UCL)',
       'Hanyang University', 'Universitat de Barcelona',
       'The University of Exeter', 'University of Bath',
       'National Tsing Hua University', 'University of Bergen',
       'Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University College Dublin',
       'Politecnico di Milano', 'Albert-Ludwigs-Universitaet Freiburg',
       'Indian Institute of Technology Delhi (IITD)',
       'King Fahd University of Petroleum & Minerals',
       'University of Technology Sydney', 'CentraleSupÃ©lec',
       'Indian Institute of Technology Bombay (IITB)',
       'Vrije Universiteit Brussel (VUB)',
       'Universidade Estadual de Campinas (Unicamp)',
       'Vienna University of Technology', 'Universidad AutÃ³noma de Madrid',
       'Alma Mater Studiorum - University of Bologna',
       'University of Reading',
       'Indian Institute of Science (IISc) Bangalore',
       "Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
       'Keio University CEMS MIM', 'Universitat AutÃ²noma de Barcelona',
       'Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
       'Universidad de Chile'], dtype=object)

In [95]:
Total.loc[Total['title'] == 'UCL (University College London)', 'title'] = 'University College London'
top_unis_times.loc[top_unis_times['name'] == 'ETH Zurich â€“ Swiss Federal Institute of Technology Zurich'
                   , 'name'] = 'ETH Zurich - Swiss Federal Institute of Technology'
Total.loc[Total['title'] == 'Ecole Polytechnique FÃ©dÃ©rale de Lausanne (EPFL)', 'title'] = 'Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne'

/home/adam/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/adam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
re.sub(r"\((.*?)\)", "" , 'Indian Institute of Technology Bombay (IITB)').strip()

'Indian Institute of Technology Bombay'

In [97]:
for not_match in not_matched:
    Total.loc[Total['title'] == not_match, 'title'] = re.sub(r"\((.*?)\)", "" , not_match).strip()

array(['Massachusetts Institute of Technology',
       'California Institute of Technology', 'University College London',
       'ETH Zurich - Swiss Federal Institute of Technology',
       'Nanyang Technological University, Singapore',
       'Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne',
       'National University of Singapore',
       'The Australian National University', 'The University of Edinburgh',
       "King's College London", 'The University of Hong Kong',
       'University of California, Berkeley', 'The University of Tokyo',
       'The Hong Kong University of Science and Technology',
       'University of California, Los Angeles',
       'The University of Manchester',
       'London School of Economics and Political Science',
       'University of California, San Diego',
       'KAIST - Korea Advanced Institute of Science & Technology',
       'The University of Melbourne', 'Ecole normale supÃ©rieure, Paris',
       'The University of New South Wales',
       'The Chinese University of Hong Kong',
       'The University of Queensland', 'The University of Sydney',
       'New York University', 'Tokyo Institute of Technology',
       'The University of Warwick', 'Ecole Polytechnique',
       'Osaka University', 'Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen',
       'Ruprecht-Karls-UniversitÃ¤t Heidelberg',
       'Pohang University of Science And Technology',
       'Universidad de Buenos Aires', 'Tohoku University',
       'National Taiwan University',
       'University of North Carolina, Chapel Hill',
       'The University of Auckland', 'The University of Sheffield',
       'The University of Nottingham', 'The Ohio State University',
       'Trinity College Dublin, The University of Dublin',
       'Korea University', 'The University of Western Australia',
       'The Hong Kong Polytechnic University',
       'Washington University in St. Louis', 'Yonsei University',
       'KIT, Karlsruhe Institute of Technology',
       'The University of Adelaide', 'Universiti Malaya',
       'Nagoya University', 'Humboldt-UniversitÃ¤t zu Berlin',
       'Universidade de SÃ£o Paulo',
       'Universidad Nacional AutÃ³noma de MÃ©xico', 'Hokkaido University',
       'Wageningen University', 'Freie Universitaet Berlin',
       'Kyushu University', 'UniversitÃ© de MontrÃ©al',
       'UniversitÃ© Pierre et Marie Curie',
       'Chalmers University of Technology',
       'University of California, Santa Barbara',
       'Pontificia Universidad CatÃ³lica de Chile',
       'Technische UniversitÃ¤t Berlin',
       'The Hebrew University of Jerusalem', 'University of Otago',
       'University of Waterloo', 'UniversitÃ© catholique de Louvain',
       'Hanyang University', 'Universitat de Barcelona',
       'The University of Exeter', 'University of Bath',
       'National Tsing Hua University', 'University of Bergen',
       'Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University College Dublin',
       'Politecnico di Milano', 'Albert-Ludwigs-Universitaet Freiburg',
       'Indian Institute of Technology Delhi',
       'King Fahd University of Petroleum & Minerals',
       'University of Technology Sydney', 'CentraleSupÃ©lec',
       'Indian Institute of Technology Bombay',
       'Vrije Universiteit Brussel', 'Universidade Estadual de Campinas',
       'Vienna University of Technology', 'Universidad AutÃ³noma de Madrid',
       'Alma Mater Studiorum - University of Bologna',
       'University of Reading', 'Indian Institute of Science  Bangalore',
       "Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
       'Keio University CEMS MIM', 'Universitat AutÃ²noma de Barcelona',
       'Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
       'Universidad de Chile'], dtype=object)

In [98]:
matching_names_total_in_times_2 = [title in top_unis_times['name'].values for title in Total['title'].values]
print(np.count_nonzero(matching_names_total_in_times_2))
matching_names_total_in_times_2 = np.array(matching_names_total_in_times_2)

119

In [100]:
difflib.get_close_matches('Technical University of Berlin', Total[~matching_names_total_in_times_2].title.values)

['Technische UniversitÃ¤t Berlin',
 'University of Bergen',
 'The University of Adelaide']

Plenty of names differ only by a `The` at the beginning of a `name`

In [101]:
similar = [(elem, difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.7)[0]) for elem in Total[~matching_names_total_in_times_2].title.values if difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.7) != []]
similar

[('The Australian National University', 'Australian National University'),
 ('The University of Edinburgh', 'University of Edinburgh'),
 ("King's College London", 'Kingâ€™s College London'),
 ('The University of Hong Kong', 'University of Hong Kong'),
 ('The University of Tokyo', 'University of Tokyo'),
 ('The Hong Kong University of Science and Technology',
  'Hong Kong University of Science and Technology'),
 ('The University of Manchester', 'University of Manchester'),
 ('KAIST - Korea Advanced Institute of Science & Technology',
  'Korea Advanced Institute of Science and Technology (KAIST)'),
 ('The University of Melbourne', 'University of Melbourne'),
 ('The University of New South Wales', 'University of New South Wales'),
 ('The Chinese University of Hong Kong', 'Chinese University of Hong Kong'),
 ('The University of Queensland', 'University of Queensland'),
 ('The University of Sydney', 'University of Sydney'),
 ('Tokyo Institute of Technology', 'KTH Royal Institute of Technology'),
 ('The University of Warwick', 'University of Warwick'),
 ('Ecole Polytechnique', 'Ã‰cole Polytechnique'),
 ('Osaka University', 'Uppsala University'),
 ('Pohang University of Science And Technology',
  'Pohang University of Science and Technology'),
 ('Tohoku University', 'Tufts University'),
 ('University of North Carolina, Chapel Hill',
  'University of North Carolina at Chapel Hill'),
 ('The University of Auckland', 'University of Auckland'),
 ('The University of Sheffield', 'University of Sheffield'),
 ('The University of Nottingham', 'University of Nottingham'),
 ('The Ohio State University', 'Ohio State University'),
 ('Korea University', 'Cornell University'),
 ('The University of Western Australia', 'University of Western Australia'),
 ('The Hong Kong Polytechnic University', 'Hong Kong Polytechnic University'),
 ('Washington University in St. Louis', 'Washington University in St Louis'),
 ('Yonsei University', 'Monash University'),
 ('KIT, Karlsruhe Institute of Technology',
  'Karlsruhe Institute of Technology'),
 ('The University of Adelaide', 'University of Adelaide'),
 ('Nagoya University', 'Nanjing University'),
 ('Humboldt-UniversitÃ¤t zu Berlin', 'Humboldt University of Berlin'),
 ('Hokkaido University', 'Harvard University'),
 ('Wageningen University', 'Nanjing University'),
 ('Freie Universitaet Berlin', 'Free University of Berlin'),
 ('Kyushu University', 'Tufts University'),
 ('UniversitÃ© de MontrÃ©al', 'University of Montreal'),
 ('Chalmers University of Technology', 'Delft University of Technology'),
 ('Technische UniversitÃ¤t Berlin', 'Technical University of Berlin'),
 ('University of Otago', 'University of Oslo'),
 ('University of Waterloo', 'University of Basel'),
 ('UniversitÃ© catholique de Louvain', 'UniversitÃ© Catholique de Louvain'),
 ('Hanyang University', 'Nanjing University'),
 ('The University of Exeter', 'University of Exeter'),
 ('University of Bath', 'University of Basel'),
 ('National Tsing Hua University', 'National Taiwan University'),
 ('University of Bergen', 'University of Bern'),
 ('University College Dublin', 'Trinity College Dublin'),
 ('Indian Institute of Technology Delhi', 'Georgia Institute of Technology'),
 ('University of Technology Sydney', 'Delft University of Technology'),
 ('Indian Institute of Technology Bombay', 'Georgia Institute of Technology'),
 ('Vrije Universiteit Brussel', 'Vrije Universiteit Amsterdam'),
 ('Vienna University of Technology', 'Eindhoven University of Technology'),
 ('University of Reading', 'University of Bern')]

In [102]:
len(similar)

55

In [103]:
for not_match in Total[~matching_names_total_in_times_2].title.values:
    Total.loc[Total['title'] == not_match, 'title'] = re.sub(r"^(The)\s", "" , not_match)

array(['Australian National University', 'University of Edinburgh',
       "King's College London", 'University of Hong Kong',
       'University of Tokyo',
       'Hong Kong University of Science and Technology',
       'University of Manchester',
       'KAIST - Korea Advanced Institute of Science & Technology',
       'University of Melbourne', 'Ecole normale supÃ©rieure, Paris',
       'University of New South Wales', 'Chinese University of Hong Kong',
       'University of Queensland', 'University of Sydney',
       'Tokyo Institute of Technology', 'University of Warwick',
       'Ecole Polytechnique', 'Osaka University',
       'Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen',
       'Ruprecht-Karls-UniversitÃ¤t Heidelberg',
       'Pohang University of Science And Technology',
       'Universidad de Buenos Aires', 'Tohoku University',
       'University of North Carolina, Chapel Hill',
       'University of Auckland', 'University of Sheffield',
       'University of Nottingham', 'Ohio State University',
       'Trinity College Dublin, The University of Dublin',
       'Korea University', 'University of Western Australia',
       'Hong Kong Polytechnic University',
       'Washington University in St. Louis', 'Yonsei University',
       'KIT, Karlsruhe Institute of Technology', 'University of Adelaide',
       'Universiti Malaya', 'Nagoya University',
       'Humboldt-UniversitÃ¤t zu Berlin', 'Universidade de SÃ£o Paulo',
       'Universidad Nacional AutÃ³noma de MÃ©xico', 'Hokkaido University',
       'Wageningen University', 'Freie Universitaet Berlin',
       'Kyushu University', 'UniversitÃ© de MontrÃ©al',
       'UniversitÃ© Pierre et Marie Curie',
       'Chalmers University of Technology',
       'Pontificia Universidad CatÃ³lica de Chile',
       'Technische UniversitÃ¤t Berlin', 'Hebrew University of Jerusalem',
       'University of Otago', 'University of Waterloo',
       'UniversitÃ© catholique de Louvain', 'Hanyang University',
       'Universitat de Barcelona', 'University of Exeter',
       'University of Bath', 'National Tsing Hua University',
       'University of Bergen', 'Eberhard Karls UniversitÃ¤t TÃ¼bingen',
       'University College Dublin', 'Politecnico di Milano',
       'Albert-Ludwigs-Universitaet Freiburg',
       'Indian Institute of Technology Delhi',
       'King Fahd University of Petroleum & Minerals',
       'University of Technology Sydney', 'CentraleSupÃ©lec',
       'Indian Institute of Technology Bombay',
       'Vrije Universiteit Brussel', 'Universidade Estadual de Campinas',
       'Vienna University of Technology', 'Universidad AutÃ³noma de Madrid',
       'Alma Mater Studiorum - University of Bologna',
       'University of Reading', 'Indian Institute of Science  Bangalore',
       "Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
       'Keio University CEMS MIM', 'Universitat AutÃ²noma de Barcelona',
       'Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
       'Universidad de Chile'], dtype=object)

In [104]:
matching_names_total_in_times_3 = [title in top_unis_times['name'].values for title in Total['title'].values]
print(np.count_nonzero(matching_names_total_in_times_3))
matching_names_total_in_times_3 = np.array(matching_names_total_in_times_3)

139

In [105]:
similar2 = [(elem, difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.4)[0]) 
            for elem in Total[~matching_names_total_in_times_3].title.values 
            if difflib.get_close_matches(elem, top_unis_times['name'].values, cutoff = 0.4) != []]
similar2

[("King's College London", 'Kingâ€™s College London'),
 ('KAIST - Korea Advanced Institute of Science & Technology',
  'Korea Advanced Institute of Science and Technology (KAIST)'),
 ('Ecole normale supÃ©rieure, Paris', 'Ã‰cole Normale SupÃ©rieure de Lyon'),
 ('Tokyo Institute of Technology', 'KTH Royal Institute of Technology'),
 ('Ecole Polytechnique', 'Ã‰cole Polytechnique'),
 ('Osaka University', 'Uppsala University'),
 ('Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen', 'University of Manchester'),
 ('Ruprecht-Karls-UniversitÃ¤t Heidelberg',
  'CharitÃ© - UniversitÃ¤tsmedizin Berlin'),
 ('Pohang University of Science And Technology',
  'Pohang University of Science and Technology'),
 ('Universidad de Buenos Aires', 'University of St Andrews'),
 ('Tohoku University', 'Tufts University'),
 ('University of North Carolina, Chapel Hill',
  'University of North Carolina at Chapel Hill'),
 ('Trinity College Dublin, The University of Dublin',
  'Trinity College Dublin'),
 ('Korea University', 'Cornell University'),
 ('Washington University in St. Louis', 'Washington University in St Louis'),
 ('Yonsei University', 'Monash University'),
 ('KIT, Karlsruhe Institute of Technology',
  'Karlsruhe Institute of Technology'),
 ('Universiti Malaya', 'University of Montreal'),
 ('Nagoya University', 'Nanjing University'),
 ('Humboldt-UniversitÃ¤t zu Berlin', 'Humboldt University of Berlin'),
 ('Universidade de SÃ£o Paulo', 'University of Oslo'),
 ('Universidad Nacional AutÃ³noma de MÃ©xico', 'University of Adelaide'),
 ('Hokkaido University', 'Harvard University'),
 ('Wageningen University', 'Nanjing University'),
 ('Freie Universitaet Berlin', 'Free University of Berlin'),
 ('Kyushu University', 'Tufts University'),
 ('UniversitÃ© de MontrÃ©al', 'University of Montreal'),
 ('UniversitÃ© Pierre et Marie Curie', 'UniversitÃ© Libre de Bruxelles'),
 ('Chalmers University of Technology', 'Delft University of Technology'),
 ('Pontificia Universidad CatÃ³lica de Chile',
  'UniversitÃ© Catholique de Louvain'),
 ('Technische UniversitÃ¤t Berlin', 'Technical University of Berlin'),
 ('Hebrew University of Jerusalem', 'Free University of Berlin'),
 ('University of Otago', 'University of Oslo'),
 ('University of Waterloo', 'University of Basel'),
 ('UniversitÃ© catholique de Louvain', 'UniversitÃ© Catholique de Louvain'),
 ('Hanyang University', 'Nanjing University'),
 ('Universitat de Barcelona', 'University of Basel'),
 ('University of Bath', 'University of Basel'),
 ('National Tsing Hua University', 'National Taiwan University'),
 ('University of Bergen', 'University of Bern'),
 ('Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University of TÃ¼bingen'),
 ('University College Dublin', 'Trinity College Dublin'),
 ('Politecnico di Milano', 'Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne'),
 ('Albert-Ludwigs-Universitaet Freiburg', 'University of Freiburg'),
 ('Indian Institute of Technology Delhi', 'Georgia Institute of Technology'),
 ('King Fahd University of Petroleum & Minerals', 'University of Montreal'),
 ('University of Technology Sydney', 'Delft University of Technology'),
 ('CentraleSupÃ©lec', 'Ã‰cole Normale SupÃ©rieure de Lyon'),
 ('Indian Institute of Technology Bombay', 'Georgia Institute of Technology'),
 ('Vrije Universiteit Brussel', 'Vrije Universiteit Amsterdam'),
 ('Universidade Estadual de Campinas', 'UniversitÃ© Catholique de Louvain'),
 ('Vienna University of Technology', 'Eindhoven University of Technology'),
 ('Universidad AutÃ³noma de Madrid', 'University of Adelaide'),
 ('Alma Mater Studiorum - University of Bologna',
  'Autonomous University of Barcelona'),
 ('University of Reading', 'University of Bern'),
 ('Indian Institute of Science  Bangalore',
  'California Institute of Technology'),
 ("Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
  'Scuola Superiore Santâ€™Anna'),
 ('Keio University CEMS MIM', 'Kyoto University'),
 ('Universitat AutÃ²noma de Barcelona', 'Autonomous University of Barcelona'),
 ('Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
  'Ã‰cole Normale SupÃ©rieure de Lyon'),
 ('Universidad de Chile', 'University of Cologne')]

In [106]:
names = [("King's College London", 'Kingâ€™s College London'),
         ('KAIST - Korea Advanced Institute of Science & Technology',
          'Korea Advanced Institute of Science and Technology (KAIST)'),
         ('Ecole Polytechnique', 'Ã‰cole Polytechnique'),
         ('Pohang University of Science And Technology',
          'Pohang University of Science and Technology'),
         ('University of North Carolina, Chapel Hill',
          'University of North Carolina at Chapel Hill'),
         ('Washington University in St. Louis', 'Washington University in St Louis'),
         ('KIT, Karlsruhe Institute of Technology',
          'Karlsruhe Institute of Technology'),
         ('Humboldt-UniversitÃ¤t zu Berlin', 'Humboldt University of Berlin'),
         ('Freie Universitaet Berlin', 'Free University of Berlin'),
         ('UniversitÃ© de MontrÃ©al', 'University of Montreal'),
         ('Technische UniversitÃ¤t Berlin', 'Technical University of Berlin'),
         ('UniversitÃ© catholique de Louvain', 'UniversitÃ© Catholique de Louvain'),
         ('Trinity College Dublin, The University of Dublin',
          'Trinity College Dublin'),
         ("Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
          'Scuola Superiore Santâ€™Anna'),
         ('Universitat AutÃ²noma de Barcelona', 'Autonomous University of Barcelona'),
         ('Eberhard Karls UniversitÃ¤t TÃ¼bingen', 'University of TÃ¼bingen')]
         
for total_name, top_unis_name in names:        
    Total.loc[Total['title'] == total_name, 'title'] = top_unis_name

In [107]:
matching_names_total_in_times_4 = [title in top_unis_times['name'].values for title in Total['title'].values]
print(np.count_nonzero(matching_names_total_in_times_4))
matching_names_total_in_times_4 = np.array(matching_names_total_in_times_4)

155

In [108]:
matching_names_times_in_total = [title in Total['title'].values for title in top_unis_times['name'].values]
print(np.count_nonzero(matching_names_times_in_total))
matching_names_times_in_total = np.array(matching_names_times_in_total)

155

In [111]:
similar3 = [(elem, difflib.get_close_matches(elem, top_unis_times[~matching_names_times_in_total].name.values, cutoff = 0.2)) 
            for elem in Total[~matching_names_total_in_times_4].title.values]
similar3

[('Ecole normale supÃ©rieure, Paris',
  ['Pompeu Fabra University',
   'Georgetown University',
   'Paris-Sorbonne University â€“ Paris 4']),
 ('Tokyo Institute of Technology',
  ['Karolinska Institute',
   'University of Cologne',
   'University of Luxembourg']),
 ('Osaka University',
  ['Indiana University', 'Tufts University', 'Ulm University']),
 ('Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen',
  ['University of MÃ¼nster', 'University of Mannheim', 'Indiana University']),
 ('Ruprecht-Karls-UniversitÃ¤t Heidelberg',
  ['CharitÃ© - UniversitÃ¤tsmedizin Berlin',
   'University of Freiburg',
   'University of Leicester']),
 ('Universidad de Buenos Aires',
  ['UniversitÃ© Libre de Bruxelles',
   'University of Leicester',
   'University of Arizona']),
 ('Tohoku University',
  ['Tufts University', 'Tilburg University', 'Ulm University']),
 ('Korea University',
  ['Northeastern University', 'Georgetown University', 'Ulm University']),
 ('Yonsei University',
  ['Indiana University', 'Vanderbilt University', 'Tufts University']),
 ('Universiti Malaya',
  ['University of Miami', 'Ulm University', 'University of Mannheim']),
 ('Nagoya University',
  ['Indiana University', 'Ulm University', 'Northeastern University']),
 ('Universidade de SÃ£o Paulo',
  ['University of Cologne',
   'University of Bonn',
   'UniversitÃ© Libre de Bruxelles']),
 ('Universidad Nacional AutÃ³noma de MÃ©xico',
  ['University of East Anglia',
   'University of California, Riverside',
   'University of Alabama at Birmingham']),
 ('Hokkaido University',
  ['Paris-Sud University', 'Heidelberg University', 'Ulm University']),
 ('Wageningen University',
  ['Wageningen University & Research',
   'Indiana University',
   'Vanderbilt University']),
 ('Kyushu University',
  ['Tufts University', 'Ulm University', 'Paris-Sud University']),
 ('UniversitÃ© Pierre et Marie Curie',
  ['UniversitÃ© Libre de Bruxelles',
   'Pierre and Marie Curie University',
   'University of Mannheim']),
 ('Chalmers University of Technology',
  ['University of Cologne', 'University of Luxembourg', 'University of Bonn']),
 ('Pontificia Universidad CatÃ³lica de Chile',
  ['UniversitÃ© Libre de Bruxelles',
   'University of California, Riverside',
   'Indiana University']),
 ('Hebrew University of Jerusalem',
  ['University of Sussex', 'University of Mannheim', 'University of Miami']),
 ('University of Otago',
  ['University of Bonn', 'University of Miami', 'University of MÃ¼nster']),
 ('University of Waterloo',
  ['University of MÃ¼nster', 'University of Leicester', 'University of Bonn']),
 ('Hanyang University',
  ['Indiana University', 'Ulm University', 'Vanderbilt University']),
 ('Universitat de Barcelona',
  ['University of Bonn',
   'University of Arizona',
   'UniversitÃ© Libre de Bruxelles']),
 ('University of Bath',
  ['University of Bonn', 'University of Miami', 'University of Mannheim']),
 ('National Tsing Hua University',
  ['Arizona State University',
   'Indiana University',
   'Northeastern University']),
 ('University of Bergen',
  ['University of Bonn', 'University of Freiburg', 'University of MÃ¼nster']),
 ('University College Dublin',
  ['University of Dundee', 'University of Cologne', 'University of Arizona']),
 ('Politecnico di Milano',
  ['University of Miami',
   'University of Mannheim',
   'Radboud University Nijmegen']),
 ('Albert-Ludwigs-Universitaet Freiburg',
  ['University of Freiburg',
   'University of WÃ¼rzburg',
   'University of Luxembourg']),
 ('Indian Institute of Technology Delhi',
  ['University of Cologne', 'Indiana University', 'University of Notre Dame']),
 ('King Fahd University of Petroleum & Minerals',
  ['University of Notre Dame',
   'University of MÃ¼nster',
   'University of Cologne']),
 ('University of Technology Sydney',
  ['University of Cologne', 'University of Dundee', 'University of Bonn']),
 ('CentraleSupÃ©lec',
  ['University of Sussex',
   'University of Notre Dame',
   'University of California, Riverside']),
 ('Indian Institute of Technology Bombay',
  ['University of Cologne', 'Indiana University', 'Karolinska Institute']),
 ('Vrije Universiteit Brussel',
  ['Vrije Universiteit Amsterdam',
   'University of Sussex',
   'UniversitÃ© Libre de Bruxelles']),
 ('Universidade Estadual de Campinas',
  ['University of Miami',
   'University of Arizona',
   'University of California, Riverside']),
 ('Vienna University of Technology',
  ['University of Cologne', 'University of Luxembourg', 'University of Bonn']),
 ('Universidad AutÃ³noma de Madrid',
  ['University of Mannheim', 'University of Miami', 'University of MÃ¼nster']),
 ('Alma Mater Studiorum - University of Bologna',
  ['University of Cologne', 'University of Bonn', 'University of Arizona']),
 ('University of Reading',
  ['University of Freiburg', 'University of Bonn', 'University of Arizona']),
 ('Indian Institute of Science  Bangalore',
  ['University of Leicester', 'University of Dundee', 'Karolinska Institute']),
 ('Keio University CEMS MIM',
  ['University of Miami', 'Ulm University', 'Vanderbilt University']),
 ('Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey',
  ['Royal Holloway, University of London',
   'University of Sussex',
   'UniversitÃ© Libre de Bruxelles']),
 ('Universidad de Chile',
  ['University of Cologne',
   'University of Dundee',
   'UniversitÃ© Libre de Bruxelles'])]

In [112]:
names2 = [('Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen', 'LMU Munich'),
         ('Ruprecht-Karls-UniversitÃ¤t Heidelberg', 'Heidelberg University'),
         ('UniversitÃ© Pierre et Marie Curie', 'Pierre and Marie Curie University'),
         ('Wageningen University', 'Wageningen University & Research'),
         ('Albert-Ludwigs-Universitaet Freiburg', 'University of Freiburg')]

for total_name, top_unis_name in names2:        
    Total.loc[Total['title'] == total_name, 'title'] = top_unis_name

In [113]:
matching_names_times_in_total = [title in Total['title'].values for title in top_unis_times['name'].values]
print(np.count_nonzero(matching_names_times_in_total))
matching_names_times_in_total = np.array(matching_names_times_in_total)

160

In [114]:
Full_ranking = Total.merge(top_unis_times, left_on='title', right_on='name', how='inner')
Full_ranking[['title', 'Rank TU', 'rank']

,Rank TU,title,score,cc,country,region,url,nid,Academic Reputation,Citations per Faculty,...,scores_overall,scores_overall_rank,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,1,Massachusetts Institute of Technology,100,US,United States,North America,/universities/massachusetts-institute-technolo...,294850,100.0,99.9,...,92.5,50,91.9,9,87.3,4,37 : 63,11177,34%,8.7
1,2,Stanford University,98.7,US,United States,North America,/universities/stanford-university,297282,100.0,99.4,...,93.0,40,96.7,5,89.1,2,42 : 58,15845,22%,7.5
2,3,Harvard University,98.4,US,United States,North America,/universities/harvard-university,294270,100.0,99.9,...,91.8,60,98.4,2,84.2,9,None,20326,26%,8.9
3,4,California Institute of Technology,97.7,US,United States,North America,/universities/california-institute-technology-...,294562,99.5,100.0,...,93.0,30,97.5,4,90.3,1,31 : 69,2209,27%,6.5
4,5,University of Cambridge,95.6,GB,United Kingdom,Europe,/universities/university-cambridge,294561,100.0,78.3,...,93.2,20,97.8,3,87.8,3,45 : 55,18389,35%,10.9
5,6,University of Oxford,95.3,GB,United Kingdom,Europe,/universities/university-oxford,294654,100.0,76.3,...,94.3,10,99.5,1,86.7,5,46 : 54,20409,38%,11.2
6,7,University College London,94.6,GB,United Kingdom,Europe,/universities/ucl-university-college-london,294014,99.7,74.7,...,85.3,160,88.2,13,74.4,25,56 : 44,30304,49%,10.5
7,8,Imperial College London,93.7,GB,United Kingdom,Europe,/universities/imperial-college-london,294030,99.4,68.7,...,89.2,80,88.7,12,81.7,13,37 : 63,15857,55%,11.4
8,9,University of Chicago,93.5,US,United States,North America,/universities/university-chicago,294536,99.9,85.9,...,88.6,90,90.1,10,85.3,8,44 : 56,13525,25%,6.2
9,10,ETH Zurich - Swiss Federal Institute of Techno...,93.3,CH,Switzerland,Europe,/universities/eth-zurich-swiss-federal-institu...,294432,99.6,98.7,...,87.7,100,92.0,8,76.4,21,31 : 69,19233,38%,14.6
10,11,"Nanyang Technological University, Singapore",92.2,SG,Singapore,Asia,/universities/nanyang-technological-university...,294821,93.9,83.3,...,70.5,520,63.0,65,49.5,96,48 : 52,25499,31%,16.3
11,12,Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne,91.2,CH,Switzerland,Europe,/universities/ecole-polytechnique-f%C3%A9d%C3%...,294481,83.0,99.2,...,75.3,380,66.8,54,58.8,54,28 : 72,9928,55%,11.2
12,13,Princeton University,91,US,United States,North America,/universities/princeton-university,297490,100.0,100.0,...,91.1,70,93.9,6,85.7,7,45 : 55,7955,24%,8.3
13,14,Cornell University,90.7,US,United States,North America,/universities/cornell-university,294514,99.6,96.2,...,84.2,190,86.6,19,76.2,22,49 : 51,21850,24%,9.8
14,15,National University of Singapore,90.5,SG,Singapore,Asia,/universities/national-university-singapore-nus,294798,100.0,66.2,...,82.8,220,88.2,14,77.4,19,51 : 49,30602,30%,17.0
15,16,Yale University,90.4,US,United States,North America,/universities/yale-university,297177,100.0,63.2,...,87.6,120,87.0,17,86.7,6,49 : 51,12155,21%,4.3
16,17,Johns Hopkins University,89.8,US,United States,North America,/universities/johns-hopkins-university,294184,94.3,83.9,...,86.5,130,88.1,16,76.1,23,52 : 48,15498,24%,4.3
17,18,Columbia University,88.9,US,United States,North America,/universities/columbia-university,294519,99.9,62.3,...,86.0,140,83.3,26,82.2,12,None,26587,32%,6.1
18,19,University of Pennsylvania,88.7,US,United States,North America,/universities/university-pennsylvania,297569,97.4,67.4,...,87.7,110,90.1,11,83.7,10,50 : 50,20361,20%,6.5
19,20,Australian National University,87.1,AU,Australia,Oceania,/universities/australian-national-university,294616,99.3,85.6,...,71.6,480,72.0,41,52.7,81,52 : 48,15986,35%,19.3
20,21,University of Michigan,87,US,United States,North America,/universities/university-michigan,294857,99.7,66.7,...,83.1,210,86.3,20,77.2,20,48 : 52,41818,16%,8.6
21,21,Duke University,87,US,United States,North America,/universities/duke-university,294490,94.0,91.4,...,85.1,170,80.6,27,80.7,15,49 : 51,15256,22%,4.5
22,23,University of Edinburgh,86.9,GB,United Kingdom,Europe,/universities/university-edinburgh,294478,99.1,55.5,...,79.2,270,74.2,36,66.8,35,59 : 41,26759,40%,12.5
23,23,Kingâ€™s College London,86.9,GB,United Kingdom,Europe,/universities/kings-college-london,294029,92.8,64.8,...,75.6,360,71.2,44,59.3,53,62 : 38,23207,41%,12.0
24,25,Tsinghua University,85.6,CN,China,Asia,/universities/tsinghua-university,297235,99.2,75.3,...,79.0,300,93.2,7,80.2,16,32 : 68,42089,9%,13.7
25,26,University of Hong Kong,85.5,HK,Hong Kong,Asia,/universities/university-hong-kong,294256,99.1,46.3,...,75.1,400,77.9,33,68.8,32,54 : 46,18364,42%,18.0
26,27,"University of California, Berkeley",84.9,US,United States,North America,/universities/university-california-berkeley-ucb,294572,100.0,99.3,...,84.3,180,84.5,24,77.4,18,52 : 48,36182,17%,13.1
27,28,University of Tokyo,84.8,JP,Japan,Asia,/universities/university-tokyo,297246,100.0,73.3,...,72.2,460,85.2,21,79.5,17,None,26000,10%,6.7
28,28,Northwestern University,84.8,US,United States,North America,/universities/northwestern-university,294767,91.3,75.4,...,83.3,200,86.7,18,72.6,28,48 : 52,17466,18%,12.8
29,30,Hong Kong University of Science and Technology,84.3,HK,Hong Kong,Asia,/universities/hong-kong-university-science-tec...,294255,93.0,87.7,...,72.7,440,68.4,50,55.2,67,None,10214,31%,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,147,Erasmus University Rotterdam,54.4,NL,Netherlands,Europe,/universities/erasmus-university-rotterdam,294457,46.8,74.3,...,65.2,720,57.2,82,38.9,199,49 : 51,22047,20%,20.1
131,147,Emory University,54.4,US,United States,North America,/universities/emory-university,294471,35.5,70.5,...,60.7,980,40.4,184,47.1,110,57 : 43,12649,19%,4.4
132,149,University of Basel,54.3,CH,Switzerland,Europe,/universities/university-basel,294610,40.9,94.4,...,60.9,950,39.9,190,39.8,189,55 : 45,12729,27%,17.7
133,149,Michigan State University,54.3,US,United States,North America,/universities/michigan-state-university,294858,68.6,59.5,...,62.8,840,53.3,97,55.1,68,51 : 49,44556,17%,17.0
134,153,UniversitÃ© Catholique de Louvain,53.6,BE,Belgium,Europe,/universities/universit%C3%A9-catholique-de-lo...,294550,62.7,54.6,...,58.0,1290,52.2,101,38.9,200,54 : 46,24451,19%,37.8
135,154,University of Vienna,53.3,AT,Austria,Europe,/universities/university-vienna,297209,75.2,NaN,...,54.7,1650,47.6,130,42.6,155,66 : 34,35375,26%,20.8
136,157,Ã‰cole Normale SupÃ©rieure de Lyon,52.8,FR,France,Europe,/universities/%C3%A9cole-normale-sup%C3%A9rieu...,294483,48.9,30.1,...,53.6,1820,37.8,210,40.1,185,47 : 53,2221,13%,8.5
137,158,University of Aberdeen,52.7,GB,United Kingdom,Europe,/universities/university-aberdeen,294647,39.6,59.0,...,53.3,1850,33.6,258,30.3,377,55 : 45,12055,36%,13.9
138,158,University of Exeter,52.7,GB,United Kingdom,Europe,/universities/university-exeter,294427,47.2,58.6,...,57.8,1300,39.3,197,34.5,277,55 : 45,19159,28%,17.5
139,161,Newcastle University,52.4,GB,United Kingdom,Europe,/universities/newcastle-university,294781,42.6,42.9,...,54.0,1760,40.8,176,33.4,304,49 : 51,20952,30%,15.6
140,163,University of Minnesota,52.2,US,United States,North America,/universities/university-minnesota,294852,76.8,63.1,...,69.0,560,67.9,52,57.6,58,51 : 49,60949,11%,17.4
141,164,"University of California, Irvine",52.1,US,United States,North America,/universities/university-california-irvine,294570,54.0,89.2,...,60.6,990,44.9,144,43.4,143,52 : 48,30419,21%,17.0
142,164,University of TÃ¼bingen,52.1,DE,Germany,Europe,/universities/eberhard-karls-universit%C3%A4t-...,297232,55.8,NaN,...,61.2,940,55.4,90,45.7,118,59 : 41,27844,13%,38.5
143,167,University of Bern,51.9,CH,Switzerland,Europe,/universities/university-bern,294601,38.1,88.4,...,60.0,1050,43.6,151,42.7,154,56 : 44,10449,15%,16.5
144,169,Dartmouth College,51.3,US,United States,North America,/universities/dartmouth-college,294505,31.4,70.5,...,62.0,890,41.9,165,58.5,56,47 : 53,6100,15%,6.6
145,171,University of Freiburg,50.8,DE,Germany,Europe,/universities/albert-ludwigs-universitaet-frei...,294376,61.6,53.8,...,62.9,820,54.3,94,47.1,111,57 : 43,20871,19%,40.3
146,173,University of Liverpool,50.3,GB,United Kingdom,Europe,/universities/university-liverpool,294045,45.4,38.7,...,53.9,1770,34.7,245,32.7,318,54 : 46,19815,35%,11.7
147,173,University of Virginia,50.3,US,United States,North America,/universities/university-virginia,297205,47.7,53.3,...,59.2,1140,40.7,179,52.4,83,52 : 48,24055,12%,9.7
148,178,University of Florida,49.8,US,United States,North America,/universities/university-florida,294394,58.6,39.2,...,56.6,1430,51.2,107,52.8,80,54 : 46,46346,9%,17.5
149,179,University of Twente,49.7,NL,Netherlands,Europe,/universities/university-twente,297226,28.9,92.2,...,53.8,1800,47.0,134,35.5,257,37 : 63,6697,27%,12.8
150,181,University of GÃ¶ttingen,49.6,DE,Germany,Europe,/universities/university-g%C3%B6ttingen,294311,62.2,23.9,...,59.2,1130,50.3,110,47.1,112,50 : 50,28554,12%,27.9
151,182,University of Colorado Boulder,49.5,US,United States,North America,/universities/university-colorado-boulder,294520,47.0,52.0,...,60.5,1010,45.8,141,44.8,126,44 : 56,30780,10%,16.3
152,186,University of Rochester,49.3,US,United States,North America,/universities/university-rochester,297494,32.1,42.6,...,55.6,1540,34.2,252,41.7,167,49 : 51,9636,29%,4.3
153,191,University of Cape Town,48.9,ZA,South Africa,Africa,/universities/university-cape-town,294558,60.2,35.9,...,54.4,1710,36.2,225,30.5,372,53 : 47,20775,18%,11.7
154,192,Scuola Normale Superiore di Pisa,48.5,IT,Italy,Europe,/universities/scuola-normale-superiore-di-pisa,295576,NaN,98.3,...,53.4,1840,33.3,263,53.7,74,30 : 70,515,7%,5.2
155,192,Scuola Superiore Santâ€™Anna,48.5,IT,Italy,Europe,/universities/scuola-superiore-santanna-pisa-d...,297078,NaN,NaN,...,55.5,1550,36.0,229,41.6,168,37 : 63,690,14%,11.7
156,195,Stockholm University,48.1,SE,Sweden,Europe,/universities/stockholm-university,297278,65.8,49.2,...,57.5,1350,48.4,124,33.1,309,None,33156,8%,24.9
157,195,Autonomous University of Barcelona,48.1,ES,Spain,Europe,/universities/universitat-aut%C3%B2noma-de-bar...,294612,72.1,43.7,...,56.2,1470,36.1,226,43.3,145,59 : 41,32309,16%,12.9
158,195,Texas A&M University,48.1,US,United States,North America,/universities/texas-am-university,297256,69.7,57.0,...,55.0,1600,56.3,84,50.4,88,48 : 52,56245,9%,23.6
159,200,Maastricht University,47.9,NL,Netherlands,Europe,/universities/maastricht-university,293985,30.8,73.3,...,60.4,1030,49.7,114,40.2,184,58 : 42,16727,50%,18.0

In [119]:
Full_ranking[['title', 'Rank TU', 'rank']]

                                                 title Rank TU  rank
0                Massachusetts Institute of Technology       1     5
1                                  Stanford University       2    =3
2                                   Harvard University       3     6
3                   California Institute of Technology       4    =3
4                              University of Cambridge       5     2
5                                 University of Oxford       6     1
6                            University College London       7    16
7                              Imperial College London       8     8
8                                University of Chicago       9     9
9    ETH Zurich - Swiss Federal Institute of Techno...      10   =10
10         Nanyang Technological University, Singapore      11    52
11            Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne      12   =38
12                                Princeton University      13     7
13                                  Cornell University      14    19
14                    National University of Singapore      15   =22
15                                     Yale University      16    12
16                            Johns Hopkins University      17    13
17                                 Columbia University      18    14
18                          University of Pennsylvania      19   =10
19                      Australian National University      20    48
20                              University of Michigan      21    21
21                                     Duke University      21    17
22                             University of Edinburgh      23   =27
23                               Kingâ€™s College London      23    36
24                                 Tsinghua University      25    30
25                             University of Hong Kong      26    40
26                  University of California, Berkeley      27    18
27                                 University of Tokyo      28    46
28                             Northwestern University      28    20
29      Hong Kong University of Science and Technology      30    44
..                                                 ...     ...   ...
130                       Erasmus University Rotterdam     147   =72
131                                   Emory University     147    98
132                                University of Basel     149   =95
133                          Michigan State University     149   =83
134                   UniversitÃ© Catholique de Louvain     153   129
135                               University of Vienna     154  =165
136                   Ã‰cole Normale SupÃ©rieure de Lyon     157  =182
137                             University of Aberdeen     158   185
138                               University of Exeter     158  =130
139                               Newcastle University     161  =175
140                            University of Minnesota     163   =56
141                   University of California, Irvine     164    99
142                             University of TÃ¼bingen     164    94
143                                 University of Bern     167  =105
144                                  Dartmouth College     169    89
145                             University of Freiburg     171    82
146                            University of Liverpool     173  =177
147                             University of Virginia     173  =113
148                              University of Florida     178  =143
149                               University of Twente     179  =179
150                            University of GÃ¶ttingen     181  =113
151                     University of Colorado Boulder     182  =100
152                            University of Rochester     186  =153
153                            University of Cape Town     191   171
154                   Scuola Normale Superiore di Pisa     192   184
155                         Scuola Superiore Santâ€™Anna     192  =155
156                               Stockholm University     195  =134
157                 Autonomous University of Barcelona     195  =147
158                               Texas A&M University     195  =159
159                              Maastricht University     200   103

[160 rows x 3 columns]