# Positive-negative-controversial categories

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
reviews_df = pd.DataFrame.from_csv('ratings_grouped_unstack.csv')
reviews_df_small = reviews_df.head(100)

In [68]:
reviews_df_small.head(4)

            1  2  3   4    5
asin
000100039X  6  4  8  15  173
0001055178  0  4  2  10    2
0001473123  1  0  0   2   13
0001473727  0  0  0   0    7

In [70]:
def calculate_stats(df,index):
    ratings = []
    for ii in range(1,6):
        ratings = ratings + int(df.loc[index][str(ii)])*[ii]
    return np.mean(ratings),np.median(ratings),np.std(ratings)

#for index in reviews_df_small.index:
#    print(calculate_stats(reviews_df_small,index))

In [71]:
reviews_df_small = reviews_df_small.assign(mean = np.nan, median = np.nan, std_dev = np.nan)
for index in reviews_df_small.index:
    mean,median,std_dev = calculate_stats(reviews_df_small,index)
    reviews_df_small.at[index,'mean'] = mean
    reviews_df_small.at[index,'median'] = median
    reviews_df_small.at[index,'std_dev'] = std_dev
    
reviews_df_small.head()

            1  2  3   4    5      mean  median   std_dev
asin
000100039X  6  4  8  15  173  4.674757     5.0  0.873584
0001055178  0  4  2  10    2  3.555556     4.0  0.955814
0001473123  1  0  0   2   13  4.625000     5.0  0.992157
0001473727  0  0  0   0    7  5.000000     5.0  0.000000
0001473905  0  0  1   0    5  4.666667     5.0  0.745356